<%= javascript_include_tag 'skinnycms/jquery/jquery-1.4.4.min.js' %>
<%= javascript_include_tag 'skinnycms/jquery/jquery-ui-1.8.7.custom.min.js' %>
<%= javascript_include_tag 'skinnycms/jquery/jquery.livequery.js' %>

<style type="text/css">

.pagination_container {
  width: 220px;
  overflow: hidden;
  padding-left: 15px;
}

div.pagination {
  text-align: center;
  width: 210px;
}

.prev_page {
  float:left;
}

.next_page {
  float:right;
}

   </style>

<script type="text/javascript">

$(document).ready(function(){

  <!-- Useful comments -->
  
  // Basic drag and drop elements
  //   $(ui.draggable) draggable element
  //   $(this) droppable element
  //
  // To add tinymce control panel use:
  //   tinymce.execCommand('mceAddControl',true,'#your id');
  //
  // For copying data then mono mode of page templates use:
  //  var sidebar_content = $('#sidebar_content_content_ifr').contents().find('body.mceContentBody').html();
  //  $('#page_content_content_ifr').contents().find('body.mceContentBody').append(sidebar_content);
  //  $('#sidebar_content_content_ifr').contents().find('body.mceContentBody').empty();

  <!-- Pages template logic -->

  $('.multiple').click(function() {
    
    $('#right_content').slideDown(50);
    $('#left_content a').css('background-repeat','no-repeat');
    $('#left_content').css('width','335px');
    $('#left_content a').css('width','335px');
    $('#left_content a').attr('class','tabset-l active');
    $('#right_content a').attr('class','tabset-r');
    $('#sidebar_drag').slideUp(1000);
    $('#content_drag').delay(1000).slideDown(1000);

  });

  $('.mono').click(function() {

    $('#left_content a').attr('class','tabset-l  active');
    $('#right_content a').attr('class','tabset-r');
    $('#sidebar_drag').slideUp(1000);
    $('#right_content').slideUp(50);
    $('#content_drag').slideDown(1000);

    var mass1 = [];
    var mass2 = [];

    var ultra_mass = $('#sidebar_drag').find('.inner.ultra');

    $.each(ultra_mass, function(index, value) {

      var child = $(value).find(".mceEditor");

      sidebar_new_id = "#" + $(child).attr('id').toString() + '_ifr';

      var sidebar_new_content = $(sidebar_new_id.toString()).contents().find('body.mceContentBody').html();

      content_id_end = content_id_end + 1;
      content_result_html = content_part_1 + content_part_2 + content_id_end.toString() + content_part_3 + content_id_end.toString() + content_part_4 + content_part_5;
      content_id_complex = content_id_begin + content_id_end.toString();
      $('#content_drag').append(content_result_html);
      tinymce.execCommand('mceAddControl',true,content_id_complex);

      content_id_append = "#" + content_id_complex.toString() + '_ifr'

      mass1.push(content_id_append);
      mass2.push(sidebar_new_content);

      $(value).remove();

    });

    var mass = $('#sidebar_drag').find('.inner.turbo');

    $.each(mass, function(index, value) {

      var child = $(value).find(".test");

      sidebar_new_id = "#" + $(child).attr('id').toString() + '_ifr';

      var sidebar_new_content = $(sidebar_new_id.toString()).contents().find('body.mceContentBody').html();

      content_id_end = content_id_end + 1;
      content_result_html = content_part_1 + content_part_2 + content_id_end.toString() + content_part_3 + content_id_end.toString() + content_part_4 + content_part_5;
      content_id_complex = content_id_begin + content_id_end.toString();
      $('#content_drag').append(content_result_html);
      tinymce.execCommand('mceAddControl',true,content_id_complex);

      content_id_append = "#" + content_id_complex.toString() + '_ifr'

      mass1.push(content_id_append);
      mass2.push(sidebar_new_content);

      $(value).remove();

    });

    window.setTimeout(function(){
      for(var i=0; i<mass1.length; i++) {
          $(mass1[i]).contents().find('body.mceContentBody').find('br').remove();
          $(mass1[i]).contents().find('body.mceContentBody').append(mass2[i]);
      }
    }, 1000);

  });
  
  $('#left_content a').click(function() {

    $('#left_content a').attr('class','tabset-l  active');
    $('#right_content a').attr('class','tabset-r');
    $('#sidebar_drag').slideUp(1000);
    $('#content_drag').delay(1000).slideDown(1000);

  });

  $('#right_content a').click(function() {

    $('#left_content a').attr('class','tabset-l');
    $('#right_content a').attr('class','tabset-r  active');
    $('#content_drag').slideUp(1000);
    $('#sidebar_drag').delay(1000).slideDown(1000);

  });

  <!-- WYSIWYG drag and drop logic test -->

  $('#sidebar_drag').delay(100).slideUp(100);

  var header_part_1 = '<div class="inner"><div class="holder"><div class="headline"><h4>WYSIWYG</h4><a href="javascript:void(0);" class="remove_unique">Remove</a></div><div class="edit-box"><div class="holder"><div class="frame">';
  var header_part_2 = '<textarea cols="40" id="header_new_';
  var header_part_3 = '" name="header_new[';
  var header_part_4 = ']" rows="20" style="width:100%;"></textarea>';
  var header_part_5 = '</div></div></div></div><div style="height:10px; background-color: white; width: 100%;"></div></div>';
  var header_id_begin = 'header_new_';
  var header_id_end = 0;
  var header_id_complex = '';

  var content_part_1 = '<div class="inner"><div class="holder"><div class="headline"><h4>WYSIWYG</h4><a href="javascript:void(0);" class="remove_unique">Remove</a></div><div class="edit-box"><div class="holder"><div class="frame">';
  var content_part_2 = '<textarea cols="40" id="content_new_';
  var content_part_3 = '" name="content_new[';
  var content_part_4 = ']" rows="20" style="width:100%;"></textarea>';
  var content_part_5 = '</div></div></div></div><div style="height:10px; background-color: white; width: 100%;"></div></div>';
  var content_id_begin = 'content_new_';
  var content_id_end = 0;
  var content_id_complex = '';

  var sidebar_part_0 = '<div class="inner turbo" id="'
  var sidebar_part_1 = '"><div class="holder"><div class="headline"><h4>WYSIWYG</h4><a href="javascript:void(0);" class="remove_unique">Remove</a></div><div class="edit-box"><div class="holder"><div class="frame">';
  var sidebar_part_2 = '<textarea class="test" cols="40" id="sidebar_new_';
  var sidebar_part_3 = '" name="sidebar_new[';
  var sidebar_part_4 = ']" rows="20" style="width:100%;"></textarea>';
  var sidebar_part_5 = '</div></div></div></div><div style="height:10px; background-color: white; width: 100%;"></div></div>';
  var sidebar_id_begin = 'sidebar_new_';
  var sidebar_id_end = 0;
  var sidebar_id_complex = '';
  var sidebar_id_begin_move = 'sidebar_move_';
  var sidebar_id_end_move = 0;
  var sidebar_id_complex_move = '';

  $('#wysiwyg').draggable({
    helper : 'clone',
    opacity : 0.3
  });

  $('div.title').droppable({
    tolerance : 'fit',
    accept : '#wysiwyg',
    drop : function(event_1, ui) {

      header_id_end = header_id_end + 1;
      header_result_html = header_part_1 + header_part_2 + header_id_end.toString() + header_part_3 + header_id_end.toString() + header_part_4 + header_part_5;
      header_id_complex = header_id_begin + header_id_end.toString();
      $('#header_drag').append(header_result_html);
      tinymce.execCommand('mceAddControl',true,header_id_complex);

    }
  });

  $('li#left_content').droppable({
    tolerance : 'fit',
    accept : '#wysiwyg',
    drop : function(event_2, ui) {

      $('#left_content a').attr('class','tabset-l  active');
      $('#right_content a').attr('class','tabset-r');
      $('#sidebar_drag').slideUp(1000);
      $('#content_drag').slideDown(1000);

      content_id_end = content_id_end + 1;
      content_result_html = content_part_1 + content_part_2 + content_id_end.toString() + content_part_3 + content_id_end.toString() + content_part_4 + content_part_5;
      content_id_complex = content_id_begin + content_id_end.toString();
      $('#content_drag').append(content_result_html);
      tinymce.execCommand('mceAddControl',true,content_id_complex);

    }
  });

  $('li#right_content').droppable({
    tolerance : 'fit',
    accept : '#wysiwyg',
    drop : function(event_2, ui) {

      $('#left_content a').attr('class','tabset-l');
      $('#right_content a').attr('class','tabset-r  active');
      $('#content_drag').slideUp(1000);
      $('#sidebar_drag').slideDown(1000);

      sidebar_id_end_move = sidebar_id_end_move + 1;
      sidebar_id_complex_move = sidebar_id_begin_move + sidebar_id_end_move.toString();
      sidebar_id_end = sidebar_id_end + 1;
      sidebar_result_html = sidebar_part_0 + sidebar_id_complex_move + sidebar_part_1 + sidebar_part_2 + sidebar_id_end.toString() + sidebar_part_3 + sidebar_id_end.toString() + sidebar_part_4 + sidebar_part_5;
      sidebar_id_complex = sidebar_id_begin + sidebar_id_end.toString();
      $('#sidebar_drag').append(sidebar_result_html);
      tinymce.execCommand('mceAddControl',true,sidebar_id_complex);

    }
  });

  <!-- WYSIWYG remove -->

  $('.remove_unique').livequery('click', function(event) {
    $(this).parent().parent().parent().remove();
  });

  <!-- MODULES hide -->

  $('#hide_header_module').click(function() {
    $('div.module#header_module').fadeOut('slow');
  });

  $('#hide_seo_fields').click(function() {
    $('div.seo-fields').fadeOut('slow');
  });

  $('#hide_scripts').click(function() {
    $('div.module#scripts_module').fadeOut('slow');
  });

  <!-- Add Styles for pagination -->

  $('.pagination').find('a.prev_page').text("BACK");
  $('.pagination').find('.disabled.prev_page').text("BACK");
  $('.pagination').find('a.next_page').text("NEXT");
  $('.pagination').find('.disabled.next_page').text("NEXT");

});


</script>

<!-- form of adding pages -->
<%= form_for([:admin, @page], :html => { :class => "add-pages" }) do |f| %>

  <!-- heading -->
  <div class="heading">
    <ul class="buttons">
      <li>
        <%= link_to do -%>
          <span>Preview</span>
        <% end %>
      </li>
      <li>
        <%= link_to do -%>
          <span>save draft</span>
        <% end %>
      </li>
      <li>
        <input type="submit" name="submit" value="Publish" id="submit" class="save_button" />
      </li>
    </ul>

    <h2>
      Edit Page
    </h2>

  </div>

  <fieldset>

    <!-- row -->
    <div class="row">
      <label for="page-title">Page Title</label>
      <span class="text"><%= f.text_field :title, :html => { :id => "page-title" } %></span>
    </div>

    <!-- row -->
    <div class="row">

      <div class="section">
	<label for="page-url">Page URL</label>
	<span class="small-text"><%= f.text_field :permalink, :value => "http://www.clienturl.com/", :html => { :id => "page-url" } %></span>
      </div>

      <div class="section">
	<label for="status">Status</label>
        <%= f.select :status, [['Published', 'published'], ['Draft', 'draft']], { :selected => @page.status.to_s, :id => "status" } %>
      </div>

      <div class="section">
	<label for="visibility">Visibility</label>
        <%= f.select :visibility, [['Public', 'public'], ['Private', 'private'], ['Redirect', 'redirect']], {:selected => @page.visibility.to_s, :id => "visibility"} %>
      </div>

    </div>

    <!-- row -->
    <div class="row">

      <div class="section">
	<label for="parent">Page Parent</label>
        <%= f.collection_select(:parent_id, Page.all(:order => "title"), :id, :title, { :include_blank => "- No Parent - ", :id => "parent" } )%>
      </div>

      <div class="section t-holder">
	<label for="template">Page Template</label>
	<div class="template" id="template">
	  <input type="button" value="" class="multiple"/>
          <input type="button" value="" class="mono" />
	</div>
      </div>

    </div>

  </fieldset>

  <!-- main -->
  <div id="main" class="shadow">
    <!-- content -->
    <div id="content">
      <h3>Page Content</h3>
      <!-- module -->
      <div class="module" id="header_module">
	<div class="title">
	  <h4 class="head">HEADER Modules</h4>
          <a href="javascript:void(0);" id="hide_header_module">Hide</a>
	</div>
	<div class="inner" id="header_drag">

          <% for header_content in @header_contents %>
          <div class="inner">
	    <div class="holder">
	      <div class="headline">
	        <h4>WYSIWYG</h4>
	        <a href="javascript:void(0);" class="remove_unique">Remove</a>
	      </div>
	      <div class="edit-box">
	        <div class="holder">
		  <div class="frame">
                    <%= text_area "header_contents", "[#{header_content.id}]", :value => header_content.content, :style => "width:100%;", :class => "field mceEditor" %>
		  </div>
	        </div>
	      </div>
	    </div><div style="height:10px; background-color: white; width: 100%;"></div>
          </div>
         <% end %>

        </div>
     </div>

     <div class="area">
     </div>

     <!-- module -->
     <div class="module">
       <ul class="tabset">
         <li id="left_content"><a href="javascript:void(0);" class="tabset-l active"><span>Left Column Modules</span></a></li>
         <li id="right_content"><a href="javascript:void(0);" class="tabset-r"><span>Right Column Modules</span></a></li>
       </ul>
       <div class="tab-content" id="tab-1">
	 <div class="inner" id="content_drag">
           <% for page_content in @page_contents %>
             <div class="inner">
	     <div class="holder">
	       <div class="headline">
	         <h4>WYSIWYG</h4>
	         <a href="javascript:void(0);" class="remove_unique">Remove</a>
	       </div>
	       <div class="edit-box">
	         <div class="holder">
	           <div class="frame">
                     <%= text_area "page_contents", "#{page_content.id}", :value => page_content.content, :style => "width:100%;", :class => "field mceEditor" %>
	           </div>
	         </div>
	       </div>
             </div><div style="height:10px; background-color: white; width: 100%;"></div>
             </div>
          <% end %>
	</div>
        <div class="inner" id="sidebar_drag">
          <% for sidebar_content in @sidebar_contents %>
           <div class="inner ultra">
	   <div class="holder">
	     <div class="headline">
	       <h4>WYSIWYG</h4>
	       <a href="javascript:void(0);" class="remove_unique">Remove</a>
	     </div>
	     <div class="edit-box">
	       <div class="holder">
	         <div class="frame">
                   <%= text_area "sidebar_contents", "#{sidebar_content.id}", :value => sidebar_content.content, :style => "width:100%;", :class => "field mceEditor" %>
	         </div>
	       </div>
	     </div>
           </div><div style="height:10px; background-color: white; width: 100%;"></div>
           </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="area">
    </div>

    <!-- module -->
   <div class="module"  id="scripts_module">
     <div class="title1">
       <h4>Script Includes</h4>
       <a href="javascript:void(0);" id="hide_scripts">Hide</a>
     </div>
     <div class="text-area">
       <div class="holder">
         <div class="frame">
           <em>There are currently no modules in this section</em>
	 </div>
       </div>
     </div>
   </div>

   <!-- seo fields form -->
   <div class="seo-fields">
     <fieldset>
       <div class="form-holder">
         <div class="title">
           <h4>SEO Fields</h4>
	   <a href="javascript:void(0);" id="hide_seo_fields">Hide</a>
	 </div>
         <div class="row">
	   <label for="site-name">Page URL (Optional)</label>
	   <span class="text"><%= f.text_field :seo_title, :value => "Site Name - ", :html => { :id => "site-name" } %></span>
         </div>
	 <div class="row">
           <label for="keywords">Keywords (Separate with commas)</label>
	   <span class="long-text"  style="height: 25px;"><%= f.text_area :seo_keywords %></span>
	 </div>
         <div class="row">
	   <label for="description">Description (Max - 150 characters)</label>
	   <div class="textarea">
	     <div class="holder">
	       <div class="frame">
                 <%= f.text_area :seo_description, :style => "height:44px;" %>
               </div>
             </div>
           </div>
         </div>
       </div>
     </fieldset>
   </div>
 </div>

 <!-- sidebar -->
 <div id="sidebar">
   <h3>Available Modules</h3>
   <ul class="add-nav">
     <li><a href="#" class="active"><span><strong id="wysiwyg">WYSIWYG</strong></span></a></li>
     <li class="divider">&nbsp;</li>

     <% @available_modules.each do |available_module| %>
      <li>
         <%= link_to do -%>
           <span>
             <strong>
               <%= available_module.title %>
             </strong>
           </span>
         <% end %>
       </li>
     <% end %>
   </ul>

  <div class="pagination_container">
     <%= will_paginate @available_modules %>
 </div>

</div>

</div>

<% end %>

