
<!-- form of adding pages -->
<%= form_for([:admin, @page], :html => { :class => "add-pages edit_page_form" }) do |f| %>

  <!-- heading -->
  <div class="heading">
    <ul class="buttons">
      <li>
        <%= link_to do -%>
          <span>Preview</span>
        <% end %>
      </li>
      <li>
        <%= link_to do -%>
          <span>save draft</span>
        <% end %>
      </li>
      <li>
        <input type="submit" name="submit" value="Publish" id="submit" class="save_button" />
      </li>
    </ul>

    <h2>
      Edit Page
    </h2>

  </div>

  <fieldset>

    <!-- row -->
    <div class="row">
      <label for="page-title">Page Title</label>
      <span class="text"><%= f.text_field :title, :html => { :id => "page-title" }, :class => "validate[required]" %></span>
    </div>

    <!-- row -->
    <div class="row">

      <div class="section">
	      <label for="page-url">Permalink</label>
	      <span class="small-text"><%= f.text_field :permalink, :html => { :id => "page-url" }, :class => "validate[required]" %></span>
      </div>

      <div class="section">
	      <label for="visibility">Redirect URL</label>
        <span class="small-text"><%= f.text_field :redirect_url, :size => "48px" %></span>
      </div>

    </div>

    <!-- row -->
    <div class="row">

      <div class="section">
        <label for="parent">Page Template</label>
        <%= f.collection_select(:template_id, @templates, :id, :title, { :include_blank => "- No Template - ", :id => "parent" } )%>
      </div>
      
      <div class="section">
        <label for="status">Status</label>
        <%= f.select :status, [['Published', 'published'], ['Draft', 'draft']], { :selected => @page.status.to_s, :id => "status" } %>
      </div>
    
    </div>
    
    <% @navigations.each do |navigation| %>   
      <div class="row">
        <div class="section">
          <label for="parent" id="nav_header"><%= navigation.title %></label>
          <select name="navigation[<%= navigation.id %>]">
            <% if @page.parent_in_navigation(navigation.title) == 0 && @page.exist_in_navigation?(navigation.title) %>
               <option value="root" SELECTED>Top level of <%= navigation.title %></option>
            <% elsif @page.exist_in_navigation?(navigation.title) %>
              <option value="<%= @page.parent_in_navigation(navigation.title) %>" SELECTED><%= @page.parent_title_in_navigation(navigation.title) %></option>
            <% end %>
            <option value="">Not on <%= navigation.title %></option>
            <option value="root">Top level of <%= navigation.title %></option>
            <%- PagesToNavigation.for_navigation_without_dublicates(navigation.title, @page).each do |n| -%>
              <option value="<%= n.id %>">- Under <%= n.page.title %></option>
            <%- end -%>
          </select>
        </div>
      </div>
    <% end %>  
    
  </fieldset>

  <!-- main -->
  <div id="main" class="shadow">
    <!-- content -->
    <div id="content">
      <h3>Page Content</h3>
      <!-- module -->
      <div class="module" id="header_module">
	<div class="title">
	  <h4 class="head">HEADER Modules</h4>
          <a href="javascript:void(0);" id="hide_header_module">Hide</a>
	</div>
	<ul class="inner" id="header_drag">

          <% for header_content in @header_contents %>

          <% if header_content.module_type == 'UniqueContentModule' %>

            <li class="inner" id="header_old_<%= header_content.id %>">
	    <div class="holder">
	      <div class="headline">
	        <h4>WYSIWYG</h4>
	        <a href="javascript:void(0);" class="remove_unique">Remove</a>
	      </div>
	      <div class="edit-box">
	        <div class="holder">
		  <div class="frame">
                    <%= text_area "header_contents", "[#{header_content.id}]", :value => header_content.content, :style => "width:100%;", :class => "field mceEditor" %>
		  </div>
	        </div>
	      </div>
	    </div><div style="height:10px; background-color: white; width: 100%;"></div>
           </li>

          <% elsif header_content.module_type == 'CustomModule' %>

           <li class="area inner turbo" style="margin-bottom: 0;" id="CustomModule<%=  header_content.module_id %>">
             <div class="holder">
               <h4>
                 <input class="test" id="header_contents_<%= header_content.module_id %>" value="<%= header_content.module_id %>" style="display: none;" name="header_new[<%= header_content.module_type %>][<%= header_content.module_id %>]"><%= CustomModule.find(header_content.module_id.to_i).title %></input>
               </h4>
               <a href="javascript:void(0);"  class="remove_available">Remove</a>
             </div><div style="height:10px; background-color: white; width: 100%;"></div>
           </li>

          <% elsif header_content.module_type == 'CacheTumblrPost' %>

           <li class="area inner turbo" style="margin-bottom: 0;" id="CacheTumblrPost<%=  header_content.module_id %>">
             <div class="holder">
               <h4>
                 <input class="test" id="header_contents_<%= header_content.module_id %>" value="<%= header_content.module_id %>" style="display: none;" name="header_new[<%= header_content.module_type %>][<%= header_content.module_id %>]"><%= CacheTumblrPost.find(:first, :conditions => { :tumblr_post_id => header_content.module_id.to_i }).title %></input>
               </h4>
               <a href="javascript:void(0);"  class="remove_available">Remove</a>
             </div><div style="height:10px; background-color: white; width: 100%;"></div>
           </li>

          <% elsif header_content.module_type == 'CacheVimeoVideo' %>

           <li class="area inner turbo" style="margin-bottom: 0;" id="CacheVimeoVideo<%=  header_content.module_id %>">
             <div class="holder">
               <h4>
                 <input class="test" id="header_contents_<%= header_content.module_id %>" value="<%= header_content.module_id %>" style="display: none;" name="header_new[<%= header_content.module_type %>][<%= header_content.module_id %>]"><%= CacheVimeoVideo.find(:first, :conditions => { :vimeo_video_id => header_content.module_id.to_i }).title %></input>
               </h4>
               <a href="javascript:void(0);"  class="remove_available">Remove</a>
             </div><div style="height:10px; background-color: white; width: 100%;"></div>
           </li>

          <% elsif header_content.module_type == 'CacheFleakrGallery' %>

           <li class="area inner turbo" style="margin-bottom: 0;" id="CacheFleakrGallery<%=  header_content.module_id %>">
             <div class="holder">
               <h4>
                 <input class="test" id="header_contents_<%= header_content.module_id %>" value="<%= header_content.module_id %>" style="display: none;" name="header_new[<%= header_content.module_type %>][<%= header_content.module_id %>]"><%= CacheFleakrGallery.find(:first, :conditions => { :fleakr_gallery_id => header_content.module_id.to_i }).title %></input>
               </h4>
               <a href="javascript:void(0);"  class="remove_available">Remove</a>
             </div><div style="height:10px; background-color: white; width: 100%;"></div>
           </li>

          <% elsif header_content.module_type == 'Tumblr Basic' %>

           <li class="area inner turbo" style="margin-bottom: 0;" id="tumblr_basic_old<%=  header_content.id %>">
             <div class="holder">
               <h4>
                 <input class="test" id="header_contents_<%= header_content.id %>" value="<%= header_content.id %>" style="display: none;" name="header_new[tumblr_basic_old][<%= header_content.id %>]"><%= header_content.module_type %></input>
               </h4>
               <a href="javascript:void(0);"  class="remove_available">Remove</a>
             </div><div style="height:10px; background-color: white; width: 100%;"></div>
           </li>

          <% end %>

         <% end %>

        </ul>
     </div>

     <div class="area">
     </div>

     <!-- module -->
     <div class="module">
       <ul class="tabset">
         <li id="left_content"><a href="javascript:void(0);" class="tabset-l active"><span>Left Column Modules</span></a></li>
         <li id="right_content"><a href="javascript:void(0);" class="tabset-r"><span>Right Column Modules</span></a></li>
       </ul>
       <div class="tab-content" id="tab-1">
	 <ul class="inner" id="content_drag">

           <% for page_content in @page_contents %>

          <% if page_content.module_type == 'UniqueContentModule' %>

            <li class="inner" id="page_old_<%= page_content.id %>">
	     <div class="holder">
	       <div class="headline">
	         <h4>WYSIWYG</h4>
	         <a href="javascript:void(0);" class="remove_unique">Remove</a>
	       </div>
	       <div class="edit-box">
	         <div class="holder">
	           <div class="frame">
                     <%= text_area "page_contents", "#{page_content.id}", :value => page_content.content, :style => "width:100%;", :class => "field mceEditor" %>
	           </div>
	         </div>
	       </div>
             </div><div style="height:10px; background-color: white; width: 100%;"></div>
             </li>

          <% elsif page_content.module_type == 'CustomModule' %>

           <li class="area inner turbo" style="margin-bottom: 0;" id="CustomModule<%= page_content.module_id %>">
             <div class="holder">
               <h4>
                 <input class="test" id="page_contents_<%= page_content.module_id %>" value="<%= page_content.module_id %>" style="display: none;" name="content_new[<%= page_content.module_type %>][<%= page_content.module_id %>]"><%= CustomModule.find(page_content.module_id.to_i).title %></input>
               </h4>
               <a href="javascript:void(0);"  class="remove_available">Remove</a>
             </div><div style="height:10px; background-color: white; width: 100%;"></div>
           </li>

          <% elsif page_content.module_type == 'CacheTumblrPost' %>

           <li class="area inner turbo" style="margin-bottom: 0;" id="CacheTumblrPost<%= page_content.module_id %>">
             <div class="holder">
               <h4>
                 <input class="test" id="page_contents_<%= page_content.module_id %>" value="<%= page_content.module_id %>" style="display: none;" name="content_new[<%= page_content.module_type %>][<%= page_content.module_id %>]"><%= CacheTumblrPost.find(:first, :conditions => { :tumblr_post_id => page_content.module_id.to_i }).title %></input>
               </h4>
               <a href="javascript:void(0);"  class="remove_available">Remove</a>
             </div><div style="height:10px; background-color: white; width: 100%;"></div>
           </li>

          <% elsif page_content.module_type == 'CacheVimeoVideo' %>

           <li class="area inner turbo" style="margin-bottom: 0;" id="CacheVimeoVideo<%= page_content.module_id %>">
             <div class="holder">
               <h4>
                 <input class="test" id="page_contents_<%= page_content.module_id %>" value="<%= page_content.module_id %>" style="display: none;" name="content_new[<%= page_content.module_type %>][<%= page_content.module_id %>]"><%= CacheVimeoVideo.find(:first, :conditions => { :vimeo_video_id => page_content.module_id.to_i }).title %></input>
               </h4>
               <a href="javascript:void(0);"  class="remove_available">Remove</a>
             </div><div style="height:10px; background-color: white; width: 100%;"></div>
           </li>

          <% elsif page_content.module_type == 'CacheFleakrGallery' %>

           <li class="area inner turbo" style="margin-bottom: 0;" id="CacheFleakrGallery<%= page_content.module_id %>">
             <div class="holder">
               <h4>
                 <input class="test" id="page_contents_<%= page_content.module_id %>" value="<%= page_content.module_id %>" style="display: none;" name="content_new[<%= page_content.module_type %>][<%= page_content.module_id %>]"><%= CacheFleakrGallery.find(:first, :conditions => { :fleakr_gallery_id => page_content.module_id.to_i }).title %></input>
               </h4>
               <a href="javascript:void(0);"  class="remove_available">Remove</a>
             </div><div style="height:10px; background-color: white; width: 100%;"></div>
           </li>

          <% elsif page_content.module_type == 'Tumblr Basic' %>

           <li class="area inner turbo" style="margin-bottom: 0;" id="tumblr_basic_old<%= page_content.id %>">
             <div class="holder">
               <h4>
                 <input class="test" id="page_contents_<%= page_content.id %>" value="<%= page_content.id %>" style="display: none;" name="content_new[tumblr_basic_old][<%= page_content.id %>]"><%= page_content.module_type %></input>
               </h4>
               <a href="javascript:void(0);"  class="remove_available">Remove</a>
             </div><div style="height:10px; background-color: white; width: 100%;"></div>
           </li>

          <% end %>

         <% end %>

	</ul>
        <ul class="inner" id="sidebar_drag">


          <% for sidebar_content in @sidebar_contents %>

            <% if sidebar_content.module_type == 'UniqueContentModule' %>

              <li class="inner ultra" id="sidebar_old_<%= sidebar_content.id %>">
	   <div class="holder">
	     <div class="headline">
	       <h4>WYSIWYG</h4>
	       <a href="javascript:void(0);" class="remove_unique">Remove</a>
	     </div>
	     <div class="edit-box">
	       <div class="holder">
	         <div class="frame">
                   <%= text_area "sidebar_contents", "#{sidebar_content.id}", :value => sidebar_content.content, :style => "width:100%;", :class => "field mceEditor" %>
	         </div>
	       </div>
	     </div>
           </div><div style="height:10px; background-color: white; width: 100%;"></div>
           </li>

          <% elsif sidebar_content.module_type == 'CustomModule' %>

           <li class="area inner turbo" style="margin-bottom: 0;" id="CustomModule<%= sidebar_content.module_id %>">
             <div class="holder">
               <h4>
                 <input class="field" id="sidebar_contents_<%= sidebar_content.module_id %>" value="<%= sidebar_content.module_id %>" style="display: none;" name="sidebar_new[<%= sidebar_content.module_type %>][<%= sidebar_content.module_id %>]"><%= CustomModule.find(sidebar_content.module_id.to_i).title %></input>
               </h4>
               <a href="javascript:void(0);"  class="remove_available">Remove</a>
             </div><div style="height:10px; background-color: white; width: 100%;"></div>
           </li>

          <% elsif sidebar_content.module_type == 'CacheTumblrPost' %>

           <li class="area inner turbo" style="margin-bottom: 0;" id="CacheTumblrPost<%= sidebar_content.module_id %>">
             <div class="holder">
               <h4>
                 <input class="field" id="sidebar_contents_<%= sidebar_content.module_id %>" value="<%= sidebar_content.module_id %>" style="display: none;" name="sidebar_new[<%= sidebar_content.module_type %>][<%= sidebar_content.module_id %>]"><%= CacheTumblrPost.find(:first, :conditions => { :tumblr_post_id => sidebar_content.module_id.to_i }).title %></input>
               </h4>
               <a href="javascript:void(0);"  class="remove_available">Remove</a>
             </div><div style="height:10px; background-color: white; width: 100%;"></div>
           </li>

          <% elsif sidebar_content.module_type == 'CacheVimeoVideo' %>

           <li class="area inner turbo" style="margin-bottom: 0;" id="CacheVimeoVideo<%= sidebar_content.module_id %>">
             <div class="holder">
               <h4>
                 <input class="field" id="sidebar_contents_<%= sidebar_content.module_id %>" value="<%= sidebar_content.module_id %>" style="display: none;" name="sidebar_new[<%= sidebar_content.module_type %>][<%= sidebar_content.module_id %>]"><%= CacheVimeoVideo.find(:first, :conditions => { :vimeo_video_id => sidebar_content.module_id.to_i }).title %></input>
               </h4>
               <a href="javascript:void(0);"  class="remove_available">Remove</a>
             </div><div style="height:10px; background-color: white; width: 100%;"></div>
           </li>

          <% elsif sidebar_content.module_type == 'CacheFleakrGallery' %>

           <li class="area inner turbo" style="margin-bottom: 0;" id="CacheFleakrGallery<%= sidebar_content.module_id %>">
             <div class="holder">
               <h4>
                 <input class="field" id="sidebar_contents_<%= sidebar_content.module_id %>" value="<%= sidebar_content.module_id %>" style="display: none;" name="sidebar_new[<%= sidebar_content.module_type %>][<%= sidebar_content.module_id %>]"><%= CacheFleakrGallery.find(:first, :conditions => { :fleakr_gallery_id => sidebar_content.module_id.to_i }).title %></input>
               </h4>
               <a href="javascript:void(0);"  class="remove_available">Remove</a>
             </div><div style="height:10px; background-color: white; width: 100%;"></div>
           </li>

          <% elsif sidebar_content.module_type == 'Tumblr Basic' %>

           <li class="area inner turbo" style="margin-bottom: 0;" id="tumblr_basic_old<%= sidebar_content.id %>">
             <div class="holder">
               <h4>
                 <input class="field" id="sidebar_contents_<%= sidebar_content.id %>" value="<%= sidebar_content.id %>" style="display: none;" name="sidebar_new[tumblr_basic_old][<%= sidebar_content.id %>]"><%= sidebar_content.module_type %></input>
               </h4>
               <a href="javascript:void(0);"  class="remove_available">Remove</a>
             </div><div style="height:10px; background-color: white; width: 100%;"></div>
           </li>

          <% end %>

          <% end %>

        </ul>
      </div>
    </div>

    <div class="area">
    </div>

    <input id="header_positions" name="header_positions" style="display: none;"></input>
    <input id="content_positions" name="content_positions" style="display: none;"></input>
    <input id="sidebar_positions" name="sidebar_positions" style="display: none;"></input>
    <input id="selected_navigations" name="selected_navigations" style="display: none;"></input>

    <!-- module -->
   <div class="module"  id="scripts_module">
     <div class="title1">
       <h4>Script Includes</h4>
       <a href="javascript:void(0);" id="hide_scripts">Hide</a>
     </div>
     <div class="text-area">
       <div class="holder">
         <div class="frame">
           <em>There are currently no modules in this section</em>
	 </div>
       </div>
     </div>
   </div>

   <!-- seo fields form -->
   <div class="seo-fields">
     <fieldset>
       <div class="form-holder">
         <div class="title">
           <h4>SEO Fields</h4>
	   <a href="javascript:void(0);" id="hide_seo_fields">Hide</a>
	 </div>
         <div class="seo_fields">
         <div class="row">
	   <label for="site-name">Page URL (Optional)</label>
	   <span class="text"><%= f.text_field :seo_title, :value => "Site Name - ", :html => { :id => "site-name" } %></span>
         </div>
	 <div class="row">
           <label for="keywords">Keywords (Separate with commas)</label>
	   <span class="long-text"  style="height: 25px;"><%= f.text_area :seo_keywords %></span>
	 </div>
         <div class="row">
	   <label for="description">Description (Max - 150 characters)</label>
	   <div class="textarea">
	     <div class="holder">
	       <div class="frame">
                 <%= f.text_area :seo_description, :style => "height:44px;" %>
               </div>
             </div>
           </div>
         </div>
         </div>
       </div>
     </fieldset>
   </div>
 </div>

 <!-- sidebar -->
 <div id="sidebar">
   <h3>Available Modules</h3>
   <ul class="add-nav">
     <li><a href="#" class="active"><span><strong class="drag_to">WYSIWYG</strong></span></a></li>
     <li class="divider">&nbsp;</li>

     <% for available_module in @available_modules %>

      <li>
        <%= link_to do -%>
          <span>
            <div>
              <div class="frag_to" style="float:left; width: 25px; height: 100%; height: 11px;">
                <%= image_tag("skinnycms/admin/ico-line.gif", :style => "float:left;") %>
                <% if available_module.class.name == 'CustomModule' %>
                  <%= text_field "CustomModule", "[#{available_module.id}]", :value => available_module.id, :class => "#{available_module.class.name}", :style => "display: none;" %>
                <% elsif available_module.class.name == 'CacheTumblrPost' %>
                  <%= text_field "CacheTumblrPost", "[#{available_module.id}]", :value => available_module.tumblr_post_id, :class => "#{available_module.class.name}", :style => "display: none;" %>
                <% elsif available_module.class.name == 'CacheFleakrGallery' %>
                  <%= text_field "CacheFleakrGallery", "[#{available_module.id}]", :value => available_module.fleakr_gallery_id, :class => "#{available_module.class.name}", :style => "display: none;" %>
                <% elsif available_module.class.name == 'CacheVimeoVideo' %>
                  <%= text_field "CacheVimeoVideo", "[#{available_module.id}]", :value => available_module.vimeo_video_id, :class => "#{available_module.class.name}", :style => "display: none;" %>
                <% elsif available_module == 'Tumblr Basic' %>
                  <%= text_field "Tumblr Basic", "", :class => "tumblr_basic_new", :style => "display: none;" %>
                <% end %>
              </div>
              <div class="available_content" style="float:left; width: 160px;">
                <%= available_module.title rescue available_module %>
              </div>
            </div>
          </span>
        <% end %>
      </li>

     <% end %>
   </ul>

  <div class="pagination_container">
     <%= will_paginate @available_modules %>
 </div>

</div>

</div>

<% end %>

<!-- Hidden search assets dialog window -->
<div id="assets_popup" title="Add Asset">
  <!-- search form -->
  <div class="search_asset_form" style="width: 540px; height:30px; margin-top: 5px; ">
    <ul class="assets_list" style="float: left; width: 300px; height:25px; ">
      <%= link_to(get_asset_by_type_to_editor_path(:asset_type => 'all'), :id => 'all_types') do %>
        <li>ALL</li>
      <% end %>
      <%= link_to(get_asset_by_type_to_editor_path(:asset_type => 'image'), :id => 'image') do %>
        <li>IMAGES</li>
      <% end %>
      <%= link_to(get_asset_by_type_to_editor_path(:asset_type => 'video'), :id => 'video') do %>
        <li>VIDEOS</li>
      <% end %>
      <%= link_to(get_asset_by_type_to_editor_path(:asset_type => 'audio'), :id => 'audio') do %>
        <li>AUDIO</li>
      <% end %>
      <%= link_to(get_asset_by_type_to_editor_path(:asset_type => 'text'), :id => 'text') do %>
        <li>FILES</li>
      <% end %>
    </ul>
    <%= form_tag(search_asset_for_editor_path, :method => 'get', :class => 'search', :style => "float:left; margin-left:5px; width: 200px;") do %>
      <fieldset>
        <div class="holder" style=" width:240px;">
          <span class="text"><input name="search_key" type="text" style="width:140px;" /></span>
         <input type="submit" value="SEARCH" class="submit" />
        </div>
      </fieldset>
    <% end %>
  </div>
  <div id="super_div">
  <%= render :partial => 'add_assets' %>
  </div>
</div>

<% content_for :html_header_includes do %>

  <%= javascript_include_tag 'skinnycms/jquery/jquery.livequery.js' %>
  <%= stylesheet_link_tag 'skinnycms/jquery-ui-1.8.10.custom' %>

<style type="text/css">
.pagination_container {
  width: 220px;
  overflow: hidden;
  padding-left: 15px;
}

div.pagination {
  text-align: center;
  width: 210px;
}

.prev_page {
  float:left;
}

.next_page {
  float:right;
}

.assets_list li { height: 15px; border: 1px solid gray; margin: 0; padding: 3px 7px; float: left;}
.pagination_container .pagination { width: 510px;}
a.mceButton.mceButtonEnabled.mce_assets { width: 50px; }
a.mceButton.mceButtonEnabled.mce_assets img { width: 50px; }
</style>

<script type="text/javascript">

$(document).ready(function(){

  <!-- Useful comments -->

  // Basic drag and drop elements
  //   $(ui.draggable) draggable element
  //   $(this) droppable element
  //
  // To add tinymce control panel use:
  //   tinymce.execCommand('mceAddControl',true,'#your id');
  //
  // For copying data then mono mode of page templates use:
  //  var sidebar_content = $('#sidebar_content_content_ifr').contents().find('body.mceContentBody').html();
  //  $('#page_content_content_ifr').contents().find('body.mceContentBody').append(sidebar_content);
  //  $('#sidebar_content_content_ifr').contents().find('body.mceContentBody').empty();

  $('#left_content a').click(function() {

    $('#left_content a').attr('class','tabset-l  active');
    $('#right_content a').attr('class','tabset-r');
    $('#sidebar_drag').slideUp(1000);
    $('#content_drag').delay(1000).slideDown(1000);

  });

  $('#right_content a').click(function() {

    $('#left_content a').attr('class','tabset-l');
    $('#right_content a').attr('class','tabset-r  active');
    $('#content_drag').slideUp(1000);
    $('#sidebar_drag').delay(1000).slideDown(1000);

  });

  <!-- WYSIWYG drag and drop logic test -->

  $('#sidebar_drag').delay(100).slideUp(100);

  var header_part_1 = '<li class="inner" id="';
  var header_part_1_2 = '"><div class="holder"><div class="headline"><h4>WYSIWYG</h4><a href="javascript:void(0);" class="remove_unique">Remove</a></div><div class="edit-box"><div class="holder"><div class="frame">';
  var header_part_2 = '<textarea cols="40" id="header_new_';
  var header_part_3 = '" name="header_new[';
  var header_part_4 = ']" rows="20" style="width:100%;"></textarea>';
  var header_part_5 = '</div></div></div></div><div style="height:10px; background-color: white; width: 100%;"></div></li>';
  var header_id_begin = 'header_new_';
  var header_id_end = 0;
  var header_id_complex = '';
  var header_id_complex_move = '';

  var content_part_1 = '<li class="inner" id="';
  var content_part_1_2 = '"><div class="holder"><div class="headline"><h4>WYSIWYG</h4><a href="javascript:void(0);" class="remove_unique">Remove</a></div><div class="edit-box"><div class="holder"><div class="frame">';
  var content_part_2 = '<textarea cols="40" id="content_new_';
  var content_part_3 = '" name="content_new[';
  var content_part_4 = ']" rows="20" style="width:100%;"></textarea>';
  var content_part_5 = '</div></div></div></div><div style="height:10px; background-color: white; width: 100%;"></div></li>';
  var content_id_begin = 'content_new_';
  var content_id_end = 0;
  var content_id_complex = '';
  var content_id_complex_move = '';

  var sidebar_part_0 = '<li class="inner turbo" id="'
  var sidebar_part_1 = '"><div class="holder"><div class="headline"><h4>WYSIWYG</h4><a href="javascript:void(0);" class="remove_unique">Remove</a></div><div class="edit-box"><div class="holder"><div class="frame">';
  var sidebar_part_2 = '<textarea class="test" cols="40" id="sidebar_new_';
  var sidebar_part_3 = '" name="sidebar_new[';
  var sidebar_part_4 = ']" rows="20" style="width:100%;"></textarea>';
  var sidebar_part_5 = '</div></div></div></div><div style="height:10px; background-color: white; width: 100%;"></div></li>';
  var sidebar_id_begin = 'sidebar_new_';
  var sidebar_id_end = 0;
  var sidebar_id_complex = '';
  var sidebar_id_begin_move = 'sidebar_move_';
  var sidebar_id_end_move = 0;
  var sidebar_id_complex_move = '';

  var available_part_1 = '<li class="area inner turbo" style="margin-bottom: 0;" id="';
  var available_part_1_2 = '"><div class="holder"><h4>';

  var available_h_part_2 = '<input id="header_new_';
  var available_h_part_3 = '" name="header_new[';

  var available_c_part_2 = '<input id="content_new_';
  var available_c_part_3 = '" name="content_new[';

  var available_s_part_2 = '<input class="test" id="sidebar_new_';
  var available_s_part_3 = '" name="sidebar_new[';

  var available_part_4 = '][';
  var available_part_5 = ']" value="';
  var available_part_6 = '" style="display:none;">';
  var available_part_7 = '</h4><a href="javascript:void(0);"  class="remove_available">Remove</a></div><div style="height:10px; background-color: white; width: 100%;"></div></li>';
  var available_title = '';
  var available_type = '';
  var available_id = '';

  $('.drag_to').draggable({
    helper : 'clone',
    opacity : 0.3
  });

  $('.frag_to').draggable({
    helper : 'clone',
    opacity : 0.3
  });

  $('div.title').droppable({
    tolerance : 'fit',
    drop : function(event, ui) {

      if(header_state == true){
        $('#hide_header_module').text('hide');
        $('#header_drag').slideDown(1000);
        header_state = false;
      }

      var draggable_element = $(ui.draggable);

      if(draggable_element.attr("class") == "drag_to ui-draggable"){

        header_id_complex_move = 'header_move_';
        header_id_end = header_id_end + 1;
        header_result_html = header_part_1 + header_id_complex_move + header_id_end.toString() + header_part_1_2 + header_part_2 + header_id_end.toString() + header_part_3 + header_id_end.toString() + header_part_4 + header_part_5;
        header_id_complex = header_id_begin + header_id_end.toString();
        $('#header_drag').append(header_result_html);
        tinymce.execCommand('mceAddControl',true,header_id_complex);
      }
      else if (draggable_element.attr("class") == "frag_to ui-draggable"){
        header_id_end = header_id_end + 1;
        available_type = draggable_element.find('input').attr("class");

        if(available_type == 'tumblr_basic_new'){
          available_id = header_id_end;
        }
        else {
          available_id = draggable_element.find('input').attr("value");
        }
        
        available_title = draggable_element.parent().find('.available_content').text();
        available_result_html = available_part_1 + available_type.toString() + available_id.toString() + available_part_1_2 + available_h_part_2 + header_id_end.toString() + available_h_part_3 + available_type.toString() + available_part_4 + header_id_end.toString() + available_part_5 + available_id.toString() + available_part_6 + available_title.toString() + available_part_7;
        $('#header_drag').append(available_result_html);
      }

      $('#header_drag').sortable("refresh");
      $('#header_positions').attr("value",$('#header_drag').sortable("toArray").toString());
    }
  });

  $('li#left_content').droppable({
    tolerance : 'fit',
    drop : function(event, ui) {

      $('#left_content a').attr('class','tabset-l  active');
      $('#right_content a').attr('class','tabset-r');
      $('#sidebar_drag').slideUp(1000);
      $('#content_drag').slideDown(1000);

      var draggable_element = $(ui.draggable);

      if(draggable_element.attr("class") == "drag_to ui-draggable"){

        content_id_complex_move = 'content_move_';
        content_id_end = content_id_end + 1;
        content_result_html = content_part_1 + content_id_complex_move + content_id_end.toString() + content_part_1_2 + content_part_2 + content_id_end.toString() + content_part_3 + content_id_end.toString() + content_part_4 + content_part_5;
        content_id_complex = content_id_begin + content_id_end.toString();
        $('#content_drag').append(content_result_html);
        tinymce.execCommand('mceAddControl',true,content_id_complex);

      }
      else if (draggable_element.attr("class") == "frag_to ui-draggable"){

        content_id_end = content_id_end + 1;
        available_type = draggable_element.find('input').attr("class");

        if(available_type == 'tumblr_basic_new'){
          available_id = content_id_end;
        }
        else {
          available_id = draggable_element.find('input').attr("value");
        }

        available_title = draggable_element.parent().find('.available_content').text();
        available_result_html = available_part_1 + available_type.toString() + available_id.toString() + available_part_1_2 + available_c_part_2 + content_id_end.toString() + available_c_part_3 + available_type.toString() + available_part_4 + content_id_end.toString() + available_part_5 + available_id.toString() + available_part_6 + available_title.toString() + available_part_7;
        $('#content_drag').append(available_result_html);

      }

      $('#content_drag').sortable("refresh");
      $('#content_positions').attr("value",$('#content_drag').sortable("toArray").toString());
    }
  });

  $('li#right_content').droppable({
    tolerance : 'fit',
    drop : function(event, ui) {

      $('#left_content a').attr('class','tabset-l');
      $('#right_content a').attr('class','tabset-r  active');
      $('#content_drag').slideUp(1000);
      $('#sidebar_drag').slideDown(1000);

      var draggable_element = $(ui.draggable);

      if(draggable_element.attr("class") == "drag_to ui-draggable"){

        sidebar_id_end_move = sidebar_id_end_move + 1;
        sidebar_id_end = sidebar_id_end + 1;
        sidebar_id_complex_move = sidebar_id_begin_move + sidebar_id_end.toString();
        sidebar_result_html = sidebar_part_0 + sidebar_id_complex_move + sidebar_part_1 + sidebar_part_2 + sidebar_id_end.toString() + sidebar_part_3 + sidebar_id_end.toString() + sidebar_part_4 + sidebar_part_5;
        sidebar_id_complex = sidebar_id_begin + sidebar_id_end.toString();
        $('#sidebar_drag').append(sidebar_result_html);
        tinymce.execCommand('mceAddControl',true,sidebar_id_complex);

      }
      else if (draggable_element.attr("class") == "frag_to ui-draggable"){

        sidebar_id_end = sidebar_id_end + 1;
        available_type = draggable_element.find('input').attr("class");

        if(available_type == 'tumblr_basic_new'){
          available_id = sidebar_id_end;
        }
        else {
          available_id = draggable_element.find('input').attr("value");
        }

        available_title = draggable_element.parent().find('.available_content').text();
        available_result_html = available_part_1 + available_type.toString() + available_id.toString() + available_part_1_2 + available_s_part_2 + sidebar_id_end.toString() + available_s_part_3 + available_type.toString() + available_part_4 + sidebar_id_end.toString() + available_part_5 + available_id.toString() + available_part_6 + available_title.toString() + available_part_7;
        $('#sidebar_drag').append(available_result_html);

      }

      $('#sidebar_drag').sortable("refresh");
      $('#sidebar_positions').attr("value",$('#sidebar_drag').sortable("toArray").toString());
    }
  });

  <!-- WYSIWYG remove -->

  $('.remove_unique').livequery('click', function(event) {
    $(this).parent().parent().parent().remove();

    $('#header_drag').sortable("refresh");
    $('#header_positions').attr("value",$('#header_drag').sortable("toArray").toString());

    $('#content_drag').sortable("refresh");
    $('#content_positions').attr("value",$('#content_drag').sortable("toArray").toString());

    $('#sidebar_drag').sortable("refresh");
    $('#sidebar_positions').attr("value",$('#sidebar_drag').sortable("toArray").toString());
  });

  $('.remove_available').livequery('click', function(event) {
    $(this).parent().parent().remove();

    $('#header_drag').sortable("refresh");
    $('#header_positions').attr("value",$('#header_drag').sortable("toArray").toString());

    $('#content_drag').sortable("refresh");
    $('#content_positions').attr("value",$('#content_drag').sortable("toArray").toString());

    $('#sidebar_drag').sortable("refresh");
    $('#sidebar_positions').attr("value",$('#sidebar_drag').sortable("toArray").toString());
  });

  <!-- MODULES hide -->

  var header_state = false;
  var seo_fields_state = false;
  var scripts_state = false;

  $('#hide_header_module').click(function() {
    $('#header_drag').slideToggle(1000);
    if(header_state == false){
      $(this).text("show");
    }
    else{
      $(this).text("hide");
    }
    header_state = !header_state;
  });

  $('#hide_seo_fields').click(function() {
    $('div.seo_fields').slideToggle(1000);
    if(seo_fields_state == false){
      $(this).text("show");
    }
    else{
      $(this).text("hide");
    }
    seo_fields_state = !seo_fields_state;
  });

  $('#hide_scripts').click(function() {
    $('div.text-area').slideToggle(1000);
    if(scripts_state == false){
      $(this).text("show");
    }
    else{
      $(this).text("hide");
    }
    scripts_state = !scripts_state;
  });

  <!-- Add Styles for pagination -->

  $('.pagination').find('a.prev_page').text("BACK");
  $('.pagination').find('.disabled.prev_page').text("BACK");
  $('.pagination').find('a.next_page').text("NEXT");
  $('.pagination').find('.disabled.next_page').text("NEXT");

  <!-- Add Sortable to modules -->

  var new_body = '';
  var sortable_class = '';
  var wis_textarea = '';
  var wisiwyg_header_id_append = '';
  var wisiwyg_content_id_append = '';
  var wisiwyg_sidebar_id_append = '';
  var positions = '';

  $('#header_drag').livequery(function(){

    $(this).sortable({
      start: function(event, ui) {

        sortable_class = $(ui.item).attr("class").substr(0,4);

        if(sortable_class != "area"){

          wis_textarea = $(ui.item).find('iframe');
          new_body = wis_textarea.contents().find('body').html();

        }
      },
      stop: function(event, ui) {

        if(sortable_class != "area"){

          $(ui.item).find('div').remove();

          var wis_header_part_1_2 = '<div class="holder"><div class="headline"><h4>WYSIWYG</h4><a href="javascript:void(0);" class="remove_unique">Remove</a></div><div class="edit-box"><div class="holder"><div class="frame">';
          var wis_header_part_5 = '</div></div></div></div><div style="height:10px; background-color: white; width: 100%;"></div>';
          header_id_complex_move = 'header_move_';
          header_id_end = header_id_end + 1;
          header_result_html = wis_header_part_1_2 + header_part_2 + header_id_end.toString() + header_part_3 + header_id_end.toString() + header_part_4 + wis_header_part_5;
          header_id_complex = header_id_begin + header_id_end.toString();
          $($(ui.item)).append(header_result_html);
          $(ui.item).attr("id",("header_move_" + header_id_end));

          tinymce.execCommand('mceAddControl',true,header_id_complex);

          wisiwyg_header_id_append = "#" + header_id_complex.toString() + '_ifr';

          window.setTimeout(function(){
            $(wisiwyg_header_id_append).contents().find('body.mceContentBody').find('br').remove();
            $(wisiwyg_header_id_append).contents().find('body.mceContentBody').append(new_body);
          }, 100);

        }

        positions = $(this).sortable("toArray");
        $('#header_positions').attr("value",positions.toString());
      }

    });
  });

  $('#content_drag').livequery(function(){

    $(this).sortable({
      start: function(event, ui) {

        sortable_class = $(ui.item).attr("class").substr(0,4);

        if(sortable_class != "area"){

          wis_textarea = $(ui.item).find('iframe');
          new_body = wis_textarea.contents().find('body').html();

        }
      },
      stop: function(event, ui) {

        if(sortable_class != "area"){

          $(ui.item).find('div').remove();

          var wis_content_part_1_2 = '<div class="holder"><div class="headline"><h4>WYSIWYG</h4><a href="javascript:void(0);" class="remove_unique">Remove</a></div><div class="edit-box"><div class="holder"><div class="frame">';
          var wis_content_part_5 = '</div></div></div></div><div style="height:10px; background-color: white; width: 100%;"></div>';
          content_id_complex_move = 'content_move_';
          content_id_end = content_id_end + 1;
          content_result_html = wis_content_part_1_2 + content_part_2 + content_id_end.toString() + content_part_3 + content_id_end.toString() + content_part_4 + wis_content_part_5;
          content_id_complex = content_id_begin + content_id_end.toString();
          $($(ui.item)).append(content_result_html);
          $(ui.item).attr("id",("content_move_" + content_id_end));
          tinymce.execCommand('mceAddControl',true,content_id_complex);

          wisiwyg_content_id_append = "#" + content_id_complex.toString() + '_ifr';

          window.setTimeout(function(){
            $(wisiwyg_content_id_append).contents().find('body.mceContentBody').find('br').remove();
            $(wisiwyg_content_id_append).contents().find('body.mceContentBody').append(new_body);
          }, 100);

        }

        positions = $(this).sortable("toArray");
        $('#content_positions').attr("value",positions.toString());
      }

    });
  });

  $('#sidebar_drag').livequery(function(){

    $(this).sortable({
      start: function(event, ui) {

        sortable_class = $(ui.item).attr("class").substr(0,4);

        if(sortable_class != "area"){

          wis_textarea = $(ui.item).find('iframe');
          new_body = wis_textarea.contents().find('body').html();

        }
      },
      stop: function(event, ui) {

        if(sortable_class != "area"){

          $(ui.item).find('div').remove();

          var wis_sidebar_part_1 = '<div class="holder"><div class="headline"><h4>WYSIWYG</h4><a href="javascript:void(0);" class="remove_unique">Remove</a></div><div class="edit-box"><div class="holder"><div class="frame">';
          var wis_sidebar_part_5 = '</div></div></div></div><div style="height:10px; background-color: white; width: 100%;"></div>';
          sidebar_id_end_move = sidebar_id_end_move + 1;
          sidebar_id_complex_move = sidebar_id_begin_move + sidebar_id_end_move.toString();
          sidebar_id_end = sidebar_id_end + 1;
          sidebar_result_html = wis_sidebar_part_1 + sidebar_part_2 + sidebar_id_end.toString() + sidebar_part_3 + sidebar_id_end.toString() + sidebar_part_4 + wis_sidebar_part_5;
          sidebar_id_complex = sidebar_id_begin + sidebar_id_end.toString();
          $($(ui.item)).append(sidebar_result_html);
          $(ui.item).attr("id",("sidebar_move_" + sidebar_id_end));
          tinymce.execCommand('mceAddControl',true,sidebar_id_complex);

          wisiwyg_sidebar_id_append = "#" + sidebar_id_complex.toString() + '_ifr';

          window.setTimeout(function(){
            $(wisiwyg_sidebar_id_append).contents().find('body.mceContentBody').find('br').remove();
            $(wisiwyg_sidebar_id_append).contents().find('body.mceContentBody').append(new_body);
          }, 100);

        }

        positions = $(this).sortable("toArray");
        $('#sidebar_positions').attr("value",positions.toString());
      }

    });
  });

  $('#header_drag').sortable("refresh");
  $('#header_positions').attr("value",$('#header_drag').sortable("toArray").toString());

  $('#content_drag').sortable("refresh");
  $('#content_positions').attr("value",$('#content_drag').sortable("toArray").toString());

  $('#sidebar_drag').sortable("refresh");
  $('#sidebar_positions').attr("value",$('#sidebar_drag').sortable("toArray").toString());

  <!-- Select logic for navigations -->

  var massive = [];

  $("select.navigation").change(function () {
    var str = "";

    $("select.navigation option:selected").each(function () {
      str = $(this).text();

      if(str == '- No navigation - '){
        $('#nav_header').css("display","block");
        $("#nav_message").css("display","block");
        $('.navigations').css("display","none");
      }
      else {
        str_id = '#' + str;
        $('#nav_header').css("display","none");
        $("#nav_message").css("display","none");
        $('.navigations').css("display","none");
        $(str_id).css("display","block");
        massive.push(str);
      }
    });

    $('#selected_navigations').attr("value",jQuery.unique(massive));

  });

  <!-- Select logic for assets -->

  $( "#assets_popup" ).dialog({
                              autoOpen: false,
                              height: 395,
                              width: 570,
                              modal: true,
                              buttons: {
                                "Add asset": function() {
                                  var grisha = $(".ui-selected")
                                  $.each(grisha, function(index, value) {
                                    alert("index = " + index + "value = " + $(value).attr("id"));
                                    wysiwyg_container = $('#wysiwyg_container').text();
                                    iframe_id = "#" + wysiwyg_container + '_ifr';
                                    alert(iframe_id);
                                   // asset = '<img src="' + $(value).attr("id") + '" />';
                                    alert(wysiwyg_container);
                                  });
                                  $( this ).dialog( "close" );
                                },
                              Cancel: function() {
                                $( this ).dialog( "close" );
                              }
                             }
   });

   $( "#assets_popup" ).bind( "dialogopen", function(event, ui) {
     $('.ui-dialog-buttonset button').removeClass( "ui-state-focus" );
   });

   <!-- AJAX queries for assets -->

   // Sorting and pagination links.
   $('#all_types, #image, #video, #audio, #text, #assets_popup .pagination a').live("click", function () {
     $.get(this.href, null, null, 'script');
     return false;
   });

   // Search form.
   $('.search').submit(function () {
     $.get(this.action, $(this).serialize());
     return false;
   });

   <!-- Validation js -->

   $(".edit_page_form").validationEngine();

});

</script>

<% end %>