<%= javascript_include_tag 'skinnycms/jquery/jquery-1.4.4.min.js' %>
<%= javascript_include_tag 'skinnycms/jquery/jquery-ui-1.8.7.custom.min.js' %>

<style type="text/css">
input.save_button {
  margin: 0;
  border: 1px dashed #97C3EB;
}
</style>
<script type="text/javascript">

$(document).ready(function(){
  
  <!-- Variables for WYSIWYG module status -->

  var status = false; // if status = true, then wysiwyg added; if status = false, then wysiwyg not added

  <!-- Pages template logic -->

  $('.multiple').click(function() {
    $('#right_content').css('display','block');
    $('#left_content a').css('background-repeat','no-repeat');
    $('#left_content').css('width','335px');
    $('#left_content a').css('width','335px');
    $('#left_content a').attr('class','tabset-l active');
    $('#right_content a').attr('class','tabset-r');

    if(status){
      $('div#content_drag').css('height','335px');
      $('div#content_drag > .holder').css('height','310px');
      $('#frame_content_drag').css('height','285px');
      $('#page_content_content_ifr').css('height','255px');
      $('div#sidebar_drag').css('display', 'none');
      $('div#content_drag').slideDown(1000);
    }

  });

  $('.mono').click(function() {
    $('#right_content').css('display','none');
    $('#left_content a').css('background-repeat','repeat');
    $('#left_content').css('width','100%');
    $('#left_content a').css('width','100%');
    $('#left_content a').attr('class','tabset-l active');
    $('#right_content a').attr('class','tabset-r');

    // copying data then mono mode of page templates
    var sidebar_content = $('#sidebar_content_content_ifr').contents().find('body.mceContentBody').html();
    $('#page_content_content_ifr').contents().find('body.mceContentBody').append(sidebar_content);
    $('#sidebar_content_content_ifr').contents().find('body.mceContentBody').empty();

    if(status){
      $('div#content_drag').css('height','335px');
      $('div#content_drag > .holder').css('height','310px');
      $('#frame_content_drag').css('height','285px');
      $('#page_content_content_ifr').css('height','255px');
      $('div#sidebar_drag').css('display', 'none');
      $('div#content_drag').slideDown(1000);
    }

  });
  
  $('#left_content a').click(function() {
    $('#left_content a').attr('class','tabset-l  active');
    $('#right_content a').attr('class','tabset-r');

    if(status){
      $('div#content_drag').css('height','335px');
      $('div#content_drag > .holder').css('height','310px');
      $('#frame_content_drag').css('height','285px');
      $('#page_content_content_ifr').css('height','255px');
      $('div#sidebar_drag').css('display', 'none');
      $('div#content_drag').slideDown(1000);
    }
  });

  $('#right_content a').click(function() {
    $('#left_content a').attr('class','tabset-l');
    $('#right_content a').attr('class','tabset-r  active');

    if(status){
      $('div#sidebar_drag').css('height','335px');
      $('div#sidebar_drag > .holder').css('height','310px');
      $('#frame_sidebar_drag').css('height','285px');
      $('#sidebar_content_content_ifr').css('height','255px');
      $('div#content_drag').css('display', 'none');
      $('div#sidebar_drag').slideDown(1000);
    }
  });

  <!-- WYSIWYG drag and drop logic test -->

  // Basic drag and drop elements
  //$(ui.draggable) draggable element
  //$(this) droppable element

  $('div#header_drag').css('display','none');
  $('div#content_drag').css('display','none');
  $('div#sidebar_drag').css('display','none');

  $('#wysiwyg').draggable({
    helper : 'clone',
    opacity : 0.3
  });

  $('div.title').droppable({
    tolerance : 'fit',
    accept : '#wysiwyg',
    drop : function(event_1, ui) {
      $('div#header_drag').css('height','335px');
      $('div#header_drag > .holder').css('height','310px');
      $('#frame_header_drag').css('height','285px');
      $('#header_content_content_ifr').css('height','255px');
      $('div#header_drag').fadeIn('slow');
    }
  });

  $('ul.tabset').droppable({
    tolerance : 'fit',
    accept : '#wysiwyg',
    drop : function(event_2, ui) {
      if(!status){
        $('div#content_drag').css('height','335px');
        $('div#content_drag > .holder').css('height','310px');
        $('#frame_content_drag').css('height','285px');
        $('#page_content_content_ifr').css('height','255px');
        $('#left_content a').attr('class','tabset-l  active');
        $('#right_content a').attr('class','tabset-r');
        $('div#content_drag').fadeIn('slow');
        status = !status;
      }
    }
  });

  <!-- WYSIWYG remove -->

  $('#remove_header_wysiwyg').click(function() {
    $('div#header_drag').fadeOut('slow');
  });

  $('#remove_content_wysiwyg').click(function() {
    $('div#content_drag').fadeOut('slow');
    status = false;
  });

  $('#remove_sidebar_wysiwyg').click(function() {
    $('div#sidebar_drag').fadeOut('slow');
    status = false;
  });

  <!-- MODULES hide -->

  $('#hide_header_module').click(function() {
    $('div.module#header_module').fadeOut('slow');
  });

  $('#hide_seo_fields').click(function() {
    $('div.seo-fields').fadeOut('slow');
  });

  $('#hide_scripts').click(function() {
    $('div.module#scripts_module').fadeOut('slow');
  });
   
});

</script>

<!-- form of adding pages -->
<%= form_for([:admin, @page], :html => { :class => "add-pages" }) do |f| %>

  <!-- heading -->
  <div class="heading">

    <ul class="buttons">
      <li><a href="#" class="active"><span>Preview</span></a></li>
      <li><a href="#"><span>save draft</span></a></li>
      <li><input type="submit" name="submit" value="Publish" id="submit" class="save_button" /></li>
    </ul>

    <h2>
      <% if @page.id.present? %>
      Edit Page
      <% else %>
      Add New Page
      <% end %>
    </h2>

  </div>

  <fieldset>

    <!-- row -->
    <div class="row">
      <label for="page-title">Page Title</label>
      <span class="text"><%= f.text_field :title, :html => { :id => "page-title" } %></span>
    </div>

    <!-- row -->
    <div class="row">

      <div class="section">
	<label for="page-url">Page URL</label>
	<span class="small-text"><%= f.text_field :permalink, :value => "http://www.clienturl.com/", :html => { :id => "page-url" } %></span>
      </div>

      <div class="section">
	<label for="status">Status</label>
        <%= f.select :status, [['Published', 'published'], ['Draft', 'draft']], { :selected => @page.status.to_s, :id => "status" } %>
      </div>

      <div class="section">
	<label for="visibility">Visibility</label>
        <%= f.select :visibility, [['Public', 'public'], ['Private', 'private'], ['Redirect', 'redirect']], {:selected => @page.visibility.to_s, :id => "visibility"} %>
      </div>

    </div>

    <!-- row -->
    <div class="row">

      <div class="section">
	<label for="parent">Page Parent</label>
        <%= f.collection_select(:parent_id, Page.all(:order => "title"), :id, :title, { :include_blank => "- No Parent - ", :id => "parent" } )%>
      </div>

      <div class="section t-holder">
	<label for="template">Page Template</label>
	<div class="template" id="template">
	  <input type="button" value="" class="multiple"/>
          <input type="button" value="" class="mono" />
	</div>
      </div>

    </div>

  </fieldset>

  <!-- main -->
  <div id="main" class="shadow">
    <!-- content -->
    <div id="content">
      <h3>Page Content</h3>
      <!-- module -->
      <div class="module" id="header_module">
	<div class="title">
	  <h4 class="head">HEADER Modules</h4>
          <a href="javascript:void(0);" id="hide_header_module">Hide</a>
	</div>
	<div class="inner" id="header_drag">
	  <div class="holder">
	    <div class="headline">
	      <h4>WYSIWYG</h4>
	      <a href="javascript:void(0);" id="remove_header_wysiwyg">Remove</a>
	    </div>
	    <div class="edit-box">
	      <div class="holder">
		<div class="frame" id="frame_header_drag">
                  <%= text_area "header_content", "content", :style => "width:100%;", :class => "field mceEditor" %>
		</div>
	      </div>
	    </div>
	  </div>
        </div>
     </div>

     <div class="area">
     </div>

     <!-- module -->
     <div class="module">
       <ul class="tabset">
         <li id="left_content"><a href="javascript:void(0);" class="tabset-l active"><span>Left Column Modules</span></a></li>
         <li id="right_content"><a href="javascript:void(0);" class="tabset-r"><span>Right Column Modules</span></a></li>
       </ul>
       <div class="tab-content" id="tab-1">
	 <div class="inner" id="content_drag">
	   <div class="holder">
	     <div class="headline">
	       <h4>WYSIWYG</h4>
	       <a href="javascript:void(0);" id="remove_content_wysiwyg">Remove</a>
	     </div>
	     <div class="edit-box">
	       <div class="holder">
	         <div class="frame" id="frame_content_drag">
	           <%= text_area "page_content", "content", :class => "field mceEditor", :style => "width:100%;" %>
	         </div>
	       </div>
	     </div>
           </div>
	</div>
        <div class="inner" id="sidebar_drag">
	   <div class="holder">
	     <div class="headline">
	       <h4>WYSIWYG</h4>
	       <a href="javascript:void(0);" id="remove_sidebar_wysiwyg">Remove</a>
	     </div>
	     <div class="edit-box">
	       <div class="holder">
	         <div class="frame" id="frame_sidebar_drag">
                   <%= text_area "sidebar_content", "content", :class => "field mceEditor", :style => "width:100%;" %>
	         </div>
	       </div>
	     </div>
           </div>
	</div>
      </div>
    </div>

    <div class="area">
    </div>

    <!-- module -->
   <div class="module"  id="scripts_module">
     <div class="title1">
       <h4>Script Includes</h4>
       <a href="javascript:void(0);" id="hide_scripts">Hide</a>
     </div>
     <div class="text-area">
       <div class="holder">
         <div class="frame">
           <em>There are currently no modules in this section</em>
	 </div>
       </div>
     </div>
   </div>

   <!-- seo fields form -->
   <div class="seo-fields">
     <fieldset>
       <div class="form-holder">
         <div class="title">
           <h4>SEO Fields</h4>
	   <a href="javascript:void(0);" id="hide_seo_fields">Hide</a>
	 </div>
         <div class="row">
	   <label for="site-name">Page URL (Optional)</label>
	   <span class="text"><%= f.text_field :seo_title, :value => "Site Name - ", :html => { :id => "site-name" } %></span>
         </div>
	 <div class="row">
           <label for="keywords">Keywords (Separate with commas)</label>
	   <span class="long-text"  style="height: 25px;"><%= f.text_area :seo_keywords %></span>
	 </div>
         <div class="row">
	   <label for="description">Description (Max - 150 characters)</label>
	   <div class="textarea">
	     <div class="holder">
	       <div class="frame">
                 <%= f.text_area :seo_description, :style => "height:44px;" %>
               </div>
             </div>
           </div>
         </div>
       </div>
     </fieldset>
   </div>
 </div>

 <!-- sidebar -->
 <div id="sidebar">
   <h3>Available Modules</h3>
   <ul class="add-nav">
     <li><a href="#" class="active"><span><strong id="wysiwyg">WYSIWYG</strong></span></a></li>
     <li class="divider">&nbsp;</li>
     <li><a href="#"><span><strong>Recent Videos</strong></span></a></li>
     <li><a href="#"><span><strong>Recent Tumblr Posts</strong></span></a></li>
     <li><a href="#"><span><strong>Why become a Donor</strong></span></a></li>
     <li><a href="#"><span><strong>Featured holiday store feed</strong></span></a></li>
     <li><a href="#"><span><strong>Recent Videos</strong></span></a></li>
     <li><a href="#"><span><strong>Recent Tumblr Posts</strong></span></a></li>
     <li><a href="#"><span><strong>Why become a Donor</strong></span></a></li>
     <li><a href="#"><span><strong>Featured holiday store feed</strong></span></a></li>
     <li><a href="#"><span><strong>Recent Videos</strong></span></a></li>
     <li><a href="#"><span><strong>Recent Tumblr Posts</strong></span></a></li>
   </ul>

  <!-- paging -->
  <ul class="paging">
    <li class="next"><a href="#">next</a></li>
    <li class="back"><a href="#">back</a></li>
    <li><strong>1</strong></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
  </ul>
</div>

</div>

<% end %>

