<% pages.each do |child| %>

  <li id="list_<%= child.id %>">
    <div style="height: 41px; overflow: hidden; background-color: #D7EEF8; margin-bottom: 5px; padding-left: 10px;">
      <div style="width: 149px; height: 41px; overflow: hidden;float: right; font-size: 11px; padding-top: 12px;">
        <%= link_to 'Preview',
          page_path(child.page),
          :class => "preview",
          :target => "_blank", :style => "margin-left:12px;" %>
        <span class="sep">|</span>
        <%= link_to 'Edit',
          edit_admin_page_path(child.page),
          :class => "edit" %>
        <span class="sep">|</span>
        <%= link_to 'Delete',
          admin_page_path(child.page),
          :class => "delete",
          :method => :delete,
          :confirm => "Are you sure?" %>
      </div>

      <span class="item" style="height: 41px; float: left; margin-top:13px;">
        <% if type == 'private' %>
          <div class="clip_in_private"></div>
        <% else %>
          <div class="clip_in_public"></div>
        <% end %>
        <% if child.children.present? %>
          <div class="plus"></div>
        <% else %>
          <div class="plus" style="display: none;"></div>
        <% end %>
        <p style="width: 250px; height: 20px;"><%= link_to child.page.title, edit_admin_page_path(child.page) %></p>
      </span>

    </div>

    <% unless child.children.blank? %>
      <ol class="sortable" id="<%= type %>" style="margin: 5px 0 0 20px; padding:0; list-style-type:none; display: none;">
        <%= render 'page_list', :pages => child.children, :type => type %>
      </ol>
    <% end %>
  </li>
  
<% end %>