<% pages.each do |child| %>

  <li id="list_<%= child.id %>">

    <% if type == 'private' %>

      <div class="private_page_sortable_container">
      <div class="left_private_rounded_part"></div>
      <div class="right_private_rounded_part"></div>

    <% else %>

      <div class="public_page_sortable_container">
      <div class="left_public_rounded_part"></div>
      <div class="right_public_rounded_part"></div>
      
    <% end %>
      
      <div class="page_actions">
        <%= link_to 'Preview',
          page_path(child.page),
          :class => "preview",
          :target => "_blank", :style => "margin-left:12px;" %>
        <span class="sep">|</span>
        <%= link_to 'Edit',
          edit_admin_page_path(child.page),
          :class => "edit" %>
        <span class="sep">|</span>
        <%= link_to 'Delete',
          admin_page_path(child.page),
          :class => "delete",
          :method => :delete,
          :confirm => "Are you sure?" %>
      </div>

      <span class="item" style="padding-left: 0;">
        <div class="clip_in_public"></div>
        <% if child.children.present? %>
          <div class="plus"></div>
        <% else %>
          <div class="plus" style="display: none;"></div>
        <% end %>
        <p class="sortable_page_title"><%= link_to child.page.title.upcase, edit_admin_page_path(child.page) %></p>
      </span>

    </div>

    <% unless child.children.blank? %>
      <ol class="sortable" id="<%= type %>" style="margin: 5px 0 0 20px; padding:0; list-style-type:none; display: none;">
        <%= render 'page_list', :pages => child.children, :type => type %>
      </ol>
    <% end %>
  </li>
  
<% end %>