<%= javascript_include_tag 'skinnycms/jquery/jquery-1.4.4.min.js' %>
<%= javascript_include_tag 'skinnycms/jquery/jquery-ui-1.8.7.custom.min.js' %>
<%= javascript_include_tag 'skinnycms/nestedSortable.1.2.1/jquery.ui.nestedSortable.js' %>
<%= stylesheet_link_tag 'skinnycms/nestedSortable' %>

<!-- main -->
<div id="main">

  <!-- content -->
  <div id="content">

    <!-- heading -->
    <div class="heading-holder">
      <%= link_to("javascript:void(0);", :class => "btn-pages") do %>
        <span>reorder pages</span>
      <% end %>
      <h2>Main Navigation</h2>
    </div>

    <% if @homepage.present? %>
      <%= render 'homepage', :homepage => @homepage %>
        <div class="pages_divider">
          <% if @main_pages.present? %>
            <%= image_tag("/images/skinnycms/admin/divider.gif", :style => "margin-top:5px;") %>
          <% end %>
        </div>
    <% end %>

    <% if @main_pages.present? %>
      <ol class="sortable" id="main_pages" style="margin-left: 20px; margin-bottom: 25px;">
        <%= render 'page_list', :pages => @main_pages, :type => 'main_pages' %>
      </ol>
    <% else %>
      <% if @homepage.blank? %>
      <ul class="list black-text">
        <li>
          <div class="holder">
            <span style="margin-left: 20px;">
              No pages in main navigation yet!
            </span>
          </div>
        </li>
      </ul>
      <% end %>
    <% end %>

    <h2>Secondary Navigation</h2><br />
    <% if @secondary_pages.present? %>
      <ol class="sortable" id="secondary_pages" style="margin-left: 0; margin-bottom: 25px;">
        <%= render 'page_list', :pages => @secondary_pages, :type => 'secondary_pages' %>
      </ol>
    <% else %>
      <ul class="list black-text">
        <li>
          <div class="holder">
            <span style="margin-left: 20px;">
              No pages in secondary navigation yet!
            </span>
          </div>
        </li>
      </ul>
    <% end %>

    <h2>Footer Navigation</h2><br />
    <% if @footer_pages.present? %>
      <ol class="sortable" id="footer_pages" style="margin-left: 0; margin-bottom: 25px;">
        <%= render 'page_list', :pages => @footer_pages, :type => 'footer_pages' %>
      </ol>
    <% else %>
      <ul class="list black-text">
        <li>
          <div class="holder">
            <span style="margin-left: 20px;">
              No pages in footer navigation yet!
            </span>
          </div>
        </li>
      </ul>
    <% end %>
                                
    <h2>Private Pages</h2>
    <% if @private_pages.present? %>
      <ol class="sortable" id="private" style="margin-left: 0; margin-bottom: 25px; margin-top: 20px;">
        <%= render 'page_list', :pages => @private_pages, :type => 'private' %>
      </ol>
    <% else %>
      <ul class="list black-text">
        <li>
          <div class="holder" style="margin-top: 20px;">
            <span style="margin-left: 20px;">
              No private pages yet!
            </span>
          </div>
        </li>
      </ul>
    <% end %>
  </div>

  <!-- sidebar -->
  <div id="sidebar">
    <h3>Quick Links</h3>
    <ul class="btn-bar">
      <li>
        <%= link_to(new_admin_page_path) do %>
          <span>Add a New Page</span>
        <% end %>
      </li>
      <li>
        <%= link_to(new_admin_asset_path) do %>
          <span>Upload a File</span>
        <% end %>
      </li>
      <li>
        <%= link_to(new_admin_custom_module_path) do %>
          <span>Create a Module</span>
        <% end %>
      </li>
    </ul>
    <h3>API Links</h3>
    <ul class="btn-bar gray-btn">
      <li>
        <%= link_to(admin_settings_path(:module_type => "vimeo"), :class => "login_vimeo") do -%>
          <span><strong>Log-in</strong><em class="vimeo">vimeo</em></span>
        <% end %>
      </li>
      <li>
        <%= link_to(admin_settings_path(:module_type => "fleakr"), :class => "login_fleakr") do -%>
          <span><strong>Log-in</strong><em class="flickr">fleakr</em></span>
        <% end %>
      </li>
      <li>
        <%= link_to(admin_settings_path(:module_type => "tumblr"), :class => "login_tumblr") do -%>
          <span><strong>Log-in</strong><em class="tumblr">tumblr.</em></span>
        <% end %>
      </li>
    </ul>
  </div>
  
</div>

<script type="text/javascript">

	$(document).ready(function(){

        <!-- create public sortable array -->

		$('ol.sortable#public').nestedSortable({
			disableNesting: 'no-nest',
			forcePlaceholderSize: true,
			handle: 'div',
			items: 'li',
			opacity: .6,
			placeholder: 'placeholder',
			tabSize: 25,
			tolerance: 'pointer',
			toleranceElement: '> div',
                        update: function(){
                          updateTree();
                        }
		});

        <!-- create main navigation sortable array -->

		$('ol.sortable#main_pages').nestedSortable({
			disableNesting: 'no-nest',
			forcePlaceholderSize: true,
			handle: 'div',
			items: 'li',
			opacity: .6,
			placeholder: 'placeholder',
			tabSize: 25,
			tolerance: 'pointer',
			toleranceElement: '> div',
                        update: function(){
                          updateTree();
                        }
		});

        <!-- create secondary navigation sortable array -->

		$('ol.sortable#secondary_pages').nestedSortable({
			disableNesting: 'no-nest',
			forcePlaceholderSize: true,
			handle: 'div',
			items: 'li',
			opacity: .6,
			placeholder: 'placeholder',
			tabSize: 25,
			tolerance: 'pointer',
			toleranceElement: '> div',
                        update: function(){
                          updateTree();
                        }
		});

        <!-- create footer navigation sortable array -->

		$('ol.sortable#footer_pages').nestedSortable({
			disableNesting: 'no-nest',
			forcePlaceholderSize: true,
			handle: 'div',
			items: 'li',
			opacity: .6,
			placeholder: 'placeholder',
			tabSize: 25,
			tolerance: 'pointer',
			toleranceElement: '> div',
                        update: function(){
                          updateTree();
                        }
		});

        <!-- create private sortable array -->

                $('ol.sortable#private').nestedSortable({
			disableNesting: 'no-nest',
			forcePlaceholderSize: true,
			handle: 'div',
			items: 'li',
			opacity: .6,
			placeholder: 'placeholder',
			tabSize: 25,
			tolerance: 'pointer',
			toleranceElement: '> div',
                        update: function(){
                          updateTree();
                        }
		});

        <!-- disable both sortable arrays -->

                $('ol.sortable#main_pages').nestedSortable('disable');

                $('ol.sortable#secondary_pages').nestedSortable('disable');

                $('ol.sortable#footer_pages').nestedSortable('disable');

                $('ol.sortable#public').nestedSortable('disable');

                $('ol.sortable#private').nestedSortable('disable');

        <!-- click handlers for enable or disable sortable arrays -->

                var status = false;

                $('a.btn-pages').click(function() {
               //   var text_value = $('#reorder_public a').text();
                  if(status == false) {
                   // var next_text = "Save Page Order";
                    $('ol.sortable#main_pages').nestedSortable('enable');
                    $('ol.sortable#secondary_pages').nestedSortable('enable');
                    $('ol.sortable#footer_pages').nestedSortable('enable');
                    $('ol.sortable#public').nestedSortable('enable');
                    $('ol.sortable#private').nestedSortable('enable');
                    status = !status;
                    $('a.btn-pages span').html("Save reordering");
                    $('.clip_in_public').css("display", "block");
                    $('.clip_in_private').css("display", "block");
                  }
                  else {
               //     var next_text = "Enable Page Order";
                    main_pages = $('ol.sortable#main_pages').nestedSortable('toArray', {startDepthCount: 1});
                    updateOrderPages(main_pages);
                    main_pages = $('ol.sortable#secondary_pages').nestedSortable('toArray', {startDepthCount: 1});
                    updateOrderPages(main_pages);
                    main_pages = $('ol.sortable#footer_pages').nestedSortable('toArray', {startDepthCount: 1});
                    updateOrderPages(main_pages);
                    public_pages = $('ol.sortable#public').nestedSortable('toArray', {startDepthCount: 1});
                    updateOrderPages(public_pages);
                    private_pages = $('ol.sortable#private').nestedSortable('toArray', {startDepthCount: 1});
                    updateOrderPages(private_pages);
                //    alert(public_pages);
                    $('ol.sortable#main_pages').nestedSortable('disable');
                    $('ol.sortable#secondary_pagess').nestedSortable('disable');
                    $('ol.sortable#footer_pages').nestedSortable('disable');
                    $('ol.sortable#public').nestedSortable('disable');
                    $('ol.sortable#private').nestedSortable('disable');
                    status = !status;
                    $('a.btn-pages span').html("Reorder pages");
                    $('.clip_in_public').css("display", "none");
                    $('.clip_in_private').css("display", "none");
               //     $('.clip_in_public').css('display', 'none');
                  }
               //   $('div#reorder_public a').html(next_text);
                });

                $('#reorder_private a').click(function() {
                  var text_value = $('#reorder_private a').text();
                  if(text_value == "Enable Page Order") {
                    var next_text = "Save Page Order";
                    $('ol.sortable#private').nestedSortable('enable');
                    $('.clip_in_private').css("display", "block");
                  }
                  else {
                    var next_text = "Enable Page Order";
                    private_pages = $('ol.sortable#private').nestedSortable('toArray', {startDepthCount: 1});
                    updateOrderPages(private_pages);
                    $('ol.sortable#private').nestedSortable('disable');
                    $('.clip_in_private').css('display', 'none');
                  }
                  $('div#reorder_private a').html(next_text);
                });

        <!-- define parents and childs after click on (+/-) picker -->

               $('.plus').click(function() {
                 var li_parent = $(this).parent().parent().parent();
                 var child_ol_block = li_parent.children("ol");
                 var childs_css_display = child_ol_block.css('display');
                 if (childs_css_display == "none") {
                   child_ol_block.css("display", "block");
                   $(this).css("width", "7px");
                   $(this).css("height", "13px");
                   $(this).css("margin-top", "1px");
                   $(this).css("margin-left", "0px");
                   $(this).css("margin-right", "15px");
                   $(this).css("background-image", "url('/images/skinnycms/admin/arrow2.gif')");
                 }
                 else {
                   child_ol_block.css("display", "none");
                   $(this).css("width", "15px");
                   $(this).css("height", "8px");
                   $(this).css("margin-top", "5px");
                   $(this).css("margin-left", "0px");
                   $(this).css("margin-right", "15px");
                   $(this).css("background-image", "url('/images/skinnycms/admin/arrow1.gif')");
                 }
               });

	});

        <!-- Common block -->

	function dump(arr,level) {
		var dumped_text = "";
		if(!level) level = 0;

		//The padding given at the beginning of the line.
		var level_padding = "";
		for(var j=0;j<level+1;j++) level_padding += "    ";

		if(typeof(arr) == 'object') { //Array/Hashes/Objects
			for(var item in arr) {
				var value = arr[item];

				if(typeof(value) == 'object') { //If it is an array,
					dumped_text += level_padding + "'" + item + "' ...\n";
					dumped_text += dump(value,level+1);
				} else {
					dumped_text += level_padding + "'" + item + "' => \"" + value + "\"\n";
				}
			}
		} else { //Stings/Chars/Numbers etc.
			dumped_text = "===>"+arr+"<===("+typeof(arr)+")";
		}
		return dumped_text;
	}

        <!-- Update pages ordering -->

        function updateOrderPages(pages)
          {
            $.post('<%= update_sort_path -%>', { 'pages': pages })
          }

        <!-- Update (+/-) pickers in a pages tree -->

        function updateTree()
          {
            $('li').find('.plus').css("display","none");
            var li_array = $('li:has(ol > li) > div > .item > .plus');
            $.each(li_array, function(index, value) {
              var li_parent = $(value).parent().parent().parent();
              var ol_child = li_parent.find('ol').css("display");
              if (ol_child == 'none') {
                $(value).css("width", "15px");
                $(value).css("height", "8px");
                $(value).css("margin-top", "5px");
                $(value).css("margin-left", "0px");
                $(value).css("margin-right", "15px");
                $(value).css("background-image", "url('/images/skinnycms/admin/arrow1.gif')");
              }
              else {
                $(value).css("width", "7px");
                $(value).css("height", "13px");
                $(value).css("margin-top", "1px");
                $(value).css("margin-left", "0px");
                $(value).css("margin-right", "15px");
                $(value).css("background-image", "url('/images/skinnycms/admin/arrow2.gif')");
              }
              $(value).css("display","block");
            });
          }

</script>

