  <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <fieldset>
    <h3 class="asset_header">Module Title</h3>
    <div class="add-assets">
      <span class="text"><%= f.text_field :title %></span>
    </div>
  </fieldset>

  <fieldset>
    <h3 class="asset_header">Module Description</h3>
    <div class="add-assets">
      <span class="textarea-top"></span>
      <span class="textarea-center"><%= f.text_area :description %></span>
      <span class="textarea-bottom"></span>
    </div>
  </fieldset>

  <fieldset>
    <h3 class="asset_header">Attach Asset</h3>
    <span class="text"><%= f.file_field :asset %></span>
  </fieldset>
