<script type="text/javascript">
  $(document).ready(function(){
    var class_name = "<%= @asset_type %>";
    var result = '#' + class_name;
    $(result.toString()).attr("class","active");
  })
</script>
<!-- main -->
		<div id="main">
            	     <!-- content -->
			<div id="content">
				<div class="container">
					<h2>Assets</h2>
                                        <%= link_to(new_admin_asset_path, :class => "btn") do %>
                                          <span>Add a new Asset</span>
                                        <% end %>
				
					<!-- search form -->
					<form action="#" class="search">
						<fieldset>
							<div class="holder">
								<span class="text"><input type="text" /></span>
								<input type="submit" value="SEARCH" class="submit" />
							</div>
						</fieldset>
					</form>
				</div>
				<!-- buttons -->
				<ul class="bar">
                                  <li>
                                        <%= link_to(admin_assets_path(:asset_type => 'all'), :id => 'all') do %>
                                          <span>all</span>
                                        <% end %>
                                  </li>
                                  <li>
                                        <%= link_to(get_asset_by_type_path(:asset_type => 'image'), :id => 'image') do %>
                                          <span>Images</span>
                                        <% end %>
                                  </li>
                                  <li>
                                        <%= link_to(get_asset_by_type_path(:asset_type => 'video'), :id => 'video') do %>
                                          <span>Videos</span>
                                        <% end %>
                                  </li>
                                  <li>
                                        <%= link_to(get_asset_by_type_path(:asset_type => 'audio'), :id => 'audio') do %>
                                          <span>Audio</span>
                                        <% end %>
                                  </li>
                                  <li>
                                        <%= link_to(get_asset_by_type_path(:asset_type => 'text'), :id => 'text') do %>
                                          <span>Files</span>
                                        <% end %>
                                  </li>
				</ul>
				<!-- items -->
				<table class="items">
					<thead>
						<tr>
							<th class="name">Name</th>
							<th>Type</th>
							<th class="data">Date</th>
							<th class="actions">Actions</th>
						</tr>
					</thead>
					<tbody>
                                          <% @assets.each do |asset| %>

						<tr>
							<td class="name"><%= asset.title %></td>
							<td><%= asset.asset_content_type %></td>
							<td class="data"><%= asset.asset_updated_at %></td>
							<td class="actions">
								<ul>
									<li><%= link_to 'Preview', admin_asset_path(asset) %></li>
									<li><%= link_to 'Edit', edit_admin_asset_path(asset) %></li>
									<li><%= link_to 'Destroy', admin_asset_path(asset), :confirm => 'Are you sure?', :method => :delete %></li>
								</ul>
							</td>
						</tr>
						<tr class="divider">
							<td colspan="4">&nbsp;</td>
						</tr>

                                           <% end %>
						
					</tbody>
				</table>
				<!-- paging -->
				<ul class="paging">
					<li class="next"><a href="#">next</a></li>
					<li class="back"><a href="#">back</a></li>
					<li><strong>1</strong></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
				</ul>
			</div>
			<!-- sidebar -->
			<div id="sidebar">
				<h3>Quick Links</h3>
				<ul class="btn-bar">
          <li>
                              <%= link_to(new_admin_asset_path) do %>
                                <span>Upload a File</span>
                              <% end %>
                            </li>
				</ul>
				<h3>API Links</h3>
				<ul class="btn-bar gray-btn">
					<li><a href="#"><span><strong>Log-in</strong><em class="vimeo">vimeo</em></span></a></li>
					<li><a href="#"><span><strong>Log-in</strong><em class="flickr">flickr</em></span></a></li>
					<li><a href="#"><span><strong>Log-in</strong><em class="tumblr">tumblr.</em></span></a></li>
				</ul>
			</div>
		</div>

