<!-- heading -->
<div class="heading">
  <h2>Preview asset</h2>
</div>

<!-- main -->
<div id="main" class="shadow">
  <!-- content -->
  <div id="content">
    <p id="notice"><%= notice %></p>

    <h3>Title:</h3>
    <p>
      <%= @asset.title %>
    </p><br />

    <h3>Description:</h3>
    <p>
      <%= @asset.description %>
    </p><br />

    <div class="asset_image">
      <% if @asset.content_type == 'image' %>
        <%= image_tag @asset.asset.url(:medium) %>
      <% elsif @asset.content_type == 'video' %>
        <!-- We will add swfobject player here for video -->
      <% elsif @asset.content_type == 'audio' %>
        <!-- We will add swfobject player here for audio -->
      <% elsif @asset.content_type == 'text' %>
        <!-- We will add not big part of text in file or special icon -->
      <% end %>
    </div><br />

    <%= link_to 'Edit', edit_admin_asset_path(@asset) %> |
    <%= link_to 'Back', admin_assets_path %>
  </div>

  <!-- sidebar -->
  <div id="sidebar">
  </div>
</div>
