<h1>Dashboard</h1>

<div>
  <h3>What would you like to do?</h3>
  <ul>
    <li>
      <%= link_to "Write Post", new_admin_post_path %>
    </li>
    <li>
      <%= link_to "Add a New Page", new_admin_page_path %>
    </li>
    <li>
      <%= link_to "Upload an Image", new_admin_image_path %>
    </li>
  </ul>
</div>

<div>  
  <h3>Your Content</h3>
  <div>
    <ul>
      <li>
        <p>
          <%= link_to pluralize(@pages.count, 'Page'), admin_pages_path %>
        </p>
      </li>
      <li>
        <p>
          <%= link_to pluralize(@images.count, 'Image'), admin_images_path %>
        </p>
      </li>
      <li>
        <p>
          <%= link_to pluralize(@posts.count, 'Post'), admin_posts_path %>
        </p>
      </li>
      <li>
        <p>
          <a href="#">0 Videos</a>
        </p>
      </li>
    </ul>
  </div>
</div>