<fieldset>
	<label for="module-title">Module Title</label>
	<span class="text"><%= f.text_field :title %></span>
</fieldset>

<!-- module -->
<div class="module add">

	<h3>Module Contents</h3>

  <% if @locations.present? %>

    <% @locations.each do |location, content| %>

      <div class="parent_container">

        <div class="gray-area receiver" id="<%= location %>_title" <% if content.present? %>style='display:none;'<% end %>>
          <div class="holder">
	          <h4 class="head"><%= location.upcase %> Content</h4>
	          <a href="javascript:void(0);" class="show"><% if content.present? %>Show<% else %>Empty<% end %></a>
	        </div>
        </div>

	      <div class="inner receiver" id="<%= location %>_content" <% if content.blank? %>style='display:none;'<% end %>>
	        <div class="holder">
	          <div class="headline">
              <h4 class="head" style="background:url(/images/skinnycms/admin/ico4.gif) no-repeat 0 50%;"><%= location.upcase %> Content</h4>
	            <a href="javascript:void(0);" class="hide">Hide</a>
	          </div>
	          <div class="edit-box">
    	        <div class="holder">
		            <div class="frame">
                  <% if content.present? %>
		                <%= text_area "locations[#{location}]", content.id,
                      :value => content.content,
                      :class => "mceEditor",
                      :style => "width:100%" %>
                    <div class="custom_divider"></div>
                  <% end %>
                </div>
	            </div>
	          </div>
	        </div><!-- .holder -->
	      </div><!-- .inner -->

      </div><!-- .parent_container -->

    <% end %>

  <% else %>

    <ul class="list black-text">
      <li>
        <div class="holder" style="margin-top: 20px;">
          <span style="margin-left: 20px;">
            No content locations yet! Create template at first!
          </span>
        </div>
      </li>
    </ul>

  <% end %>

</div><!-- .module add -->

<% content_for :html_header_includes do %>

  <%= javascript_include_tag 'skinnycms/jquery/jquery.livequery.js' %>
  <%= stylesheet_link_tag 'skinnycms/jquery-ui-1.8.10.custom' %>

<style type="text/css">
.parent_container {
  margin-bottom:10px;
}

.custom_divider {
  width: 100%;
  height: 15px;
  background-color: #D7EEF8;
}
</style>

<script type="text/javascript">

$(document).ready(function(){

  <!-- WYSIWYG draggable logic -->

  // Define main variables for building wysiwyg editor's basic HTML

  var w1 = '<textarea class="mceEditor" cols="40" id="';
  var w2 = '" name="locations[';
  var w3 = '][';
  var w4 = ']" rows="20" style="width:100%;"></textarea><div class="custom_divider"></div>';
  var wcounter = '<%= @last_id + 1 %>';

  $('#wysiwyg').draggable({
    helper : 'clone',
    opacity : 0.3
  });

  <!-- Common droppable logic for wysiwyg editor -->

  $('.receiver').droppable({
    tolerance : 'fit',
    accept : '#wysiwyg',
    drop : function(event, ui) {

      // Define variables

      var droppable = $(this);
      var draggable = $(ui.draggable);
      var loc = '';
      var dropzone = '';
      var destination = '';
      var html = '';

      // Define droppable zone (title or content), destination for inserting HTML and location (header, sidebar, content e.t.c)

      dropzone = droppable.attr("class").replace(' receiver ui-droppable','');
      destination = $(droppable.parents('.parent_container').find('.frame'));

      if(dropzone == "gray-area"){

        loc = droppable.attr("id").replace('_title','');

        // Close title zone and open content zone

        $(droppable).fadeOut('slow');
        $(droppable.parents('.parent_container').find('.inner')).fadeIn('slow');

      }
      else if (dropzone == "inner"){

        loc = droppable.attr("id").replace('_content','');

      }

      // Build specific HTML for wysiwyg editor, put it to destination (.frame) and init new wysiwyg editor

      html = (w1 + loc + wcounter + w2 + loc + w3 + wcounter + w4).toString();
      $(destination).append(html);
      tinymce.execCommand('mceAddControl',true,(loc + wcounter).toString());
      wcounter++;

    }
  });

  <!-- MODULES show/hide logic -->

  $('.hide').livequery('click', function(event) {

    // Hide wysiwyg zone and show title zone

    $($(this).parents('.inner')).fadeOut('slow');
    $($(this).parents('.parent_container').find('.gray-area')).fadeIn('slow');
    $($(this).parents('.parent_container').find('.show')).text('Show');

  });

  $('.show').click(function() {

    if($(this).text() != 'Empty'){

      // Hide title zone and show wysiwyg zone

      $($(this).parents('.gray-area')).fadeOut('slow');
      $($(this).parents('.parent_container').find('.inner')).fadeIn('slow');

    }

  });

});

</script>

<% end %>

