<%- @content_locations.each do |location, location_contents| -%>
  <% content_for location.to_sym do %>
    <% if @page.blank? %>
      <p style="text-align: center; color:red; font-weight: bold; font-size: 16px;">page doesn't exist!</p>
    <% end %>
    <% if location_contents.present? %>
      <% for content in location_contents %>
        <% if content.module_type == 'Tumblr Basic' %>
          <% for post in @all_tumblr_posts %>
            <%= post.title %><br />
          <% end %>
          <%= will_paginate @all_tumblr_posts %>
          <%= link_to("Details", @tumblr_detail_page_path) %>
        <% elsif content.module_type == 'UniqueContentModule' %>
          <%= raw(content.content) %>
        <% elsif content.module_type == 'CacheTumblrPost' %>
          <%= raw(content.remote_module.desc) %>
        <% elsif content.module_type == 'CacheFleakrGallery' %>
          <!-- TODO: gallery output -->
        <% elsif content.module_type == 'CacheVimeoVideo' %>
          <!-- TODO: video output -->
        <% elsif content.module_type == 'CustomModule' %>
          <%= raw(content.content_for_location(location)) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<%- end -%>