<!-- main -->
<div id="main">
  <!-- content -->
  <div id="content">
    <h2>Custome Modules</h2>
    <!-- custome modules list -->

    <ul class="list blue">
      <% @custom_modules.each do |custom_module| %>
        <li>
          <div class="holder">
            <%= link_to(custom_module.title, edit_admin_custom_module_path(custom_module)) %>
            <ul class="actions">
              <li><a href="#">Preview</a></li>
              <li><%= link_to("Edit", edit_admin_custom_module_path(custom_module)) %></li>
              <li><%= link_to "Delete", admin_custom_module_path(custom_module), :confirm => "Are you sure?", :method => :delete %></li>
            </ul>
          </div>
        </li>
      <% end %>
    </ul>

    <div class="heading-holder">
      <%= link_to(admin_settings_path, :class => "btn-view") do %>
        <span>view api settings</span>
      <% end %>
      <h2>API Modules</h2>
    </div>
    <!-- API module list -->
    <ul class="list black-text">
      <% @api_modules.each do |api_module| %>
      <li>
        <div class="holder">
          <%= link_to(api_module.title, admin_api_module_path(api_module))%>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
  <!-- sidebar -->
  <div id="sidebar">
    <h3>Quick Links</h3>
    <ul class="btn-bar">
      <li>
        <%= link_to(new_admin_custom_module_path) do %>
          <span>Add a Module</span>
        <% end %>
      </li>
    </ul>
    <h3>API Links</h3>
    <ul class="btn-bar gray-btn">
      <li><a href="#"><span><strong>Log-in</strong><em class="vimeo">vimeo</em></span></a></li>
      <li><a href="#"><span><strong>Log-in</strong><em class="flickr">flickr</em></span></a></li>
      <li><a href="#"><span><strong>Log-in</strong><em class="tumblr">tumblr.</em></span></a></li>
    </ul>
  </div>
</div>

