<h1>Edit Post</h1>

<p style="color: green; font-size: 14px; margin-top: 20px;">
  <%= flash[:error] %>
</p>

<%= form_tag("/admin/posts/#{@post.tumblr_post_id}", {:method => "put", :class => "admin_form"}) do |f| %>

	<fieldset>
	  <h3>Post Information</h3>
	  <ul>
	    <li>
	      <label>Title</label>
	      <%= text_field :post, :title, :value => @post.title %>
	    </li>
	    <li>
	      <label>Category</label>
		<% @category_item.blank? ? @this_cat = 0 : @this_cat = @category_item.category_id  %>
		<%= select 'category', 'id', options_from_collection_for_select(Category.all, 'id', 'name', @this_cat), { :prompt => true } %>
	    </li>
	  </ul>
	  <div class="cl">&nbsp;</div>
	</fieldset>
	
	<fieldset>
	  <h3>Content</h3>
	  <ul>
	    <li>
	      <label>Post</label>
	      <%= text_area :post, :content, :value => @post.desc, :style => "width:100%;" ,:class => "field mceEditor" %>
	    </li>
	  </ul>
	</fieldset>

	<div>
	  <input type="hidden" name="local_id" value="<%= @post.id %>" />
          <input type="submit" name="submit" value="Save Changes" />
	</div>

<% end %>