<h1>Posts</h1>

<div>
  <h3>What would you like to do?</h3>
  <ul>
    <li>
      <%= link_to "Add User", new_admin_user_path %>
    </li>
    <li>
      <%= link_to "Manage Categories", new_admin_category_path %>
    </li>  
    <li>
      <%= link_to "Force Cache Reload", tumblr_force_reload_path %>
    </li>    
  </ul>
</div>

<p style="color: green; font-size: 14px; margin-top: 20px;">
  <%= flash[:notice] %>
</p>

<div>
  <h3>
  Your Posts
  </h3>
  <ul>
    <% for post in @posts %>
    <li id="post_<%= post.tumblr_post_id %>">
      <div>
        <%= link_to "Preview", admin_post_path(post) %><span class="sep">|</span>
        <%= link_to "Edit", edit_admin_post_path(post) %><span class="sep">|</span>
        <%= link_to "Delete", admin_post_path(post), :method => "delete", :confirm => "Are you sure?" %>
      </div>
      <span>
        <p><%= link_to post.title, edit_admin_post_path(post) %></p>
      </span>
    </li>
    <% end %>
  </ul>
</div>