<h1>Add a Post</h1>

<p style="color: green; font-size: 14px; margin-top: 20px;">
  <%= flash[:error] %>
</p>

<%= form_tag(:controller => "admin/posts", :action => "create") do |f| %>

  <fieldset>
    <h3>Post Information</h3>
    <ul>
      <li>
        <label>Title</label>
        <%= text_field :post, :title %>
      </li>
      <li>
        <label>Category</label>
        <%= select 'category', 'id', options_from_collection_for_select(Category.all, 'id', 'name', @this_cat), { :prompt => true } %>
      </li>
      <li>
        <label>Featured Post</label>
        <%= select(:featured_post, :featured, [['No', 'no'], ["Yes", 'yes']]) %>
      </li>
      <li>
        <label>Image URL</label>
        <%= text_field(:featured_post, :image_url) %>
      </li>
    </ul>
  </fieldset>

  <fieldset>
    <h3>Content</h3>
    <ul>
      <li>
        <label>Post</label>
        <%= text_area :post, :content, :class => "field mceEditor", :style => "width:100%;" %>
      </li>
    </ul>
  </fieldset>

  <div>
    <input type="submit" name="submit" value="Save Changes" />
  </div>

<% end %>