<%= render :partial => "shared/html_top" %>
<body>
  <div class="container_12">
    <div id="header_logo"><a href="/"><img src="/images/skinnycms/admin/fiftyandfifty.gif"></a></div>
    <%= render :partial => "shared/secondary_navigation" %>
  </div>

  <div class="clear"></div>

  <div class="container_12" style="border: 1px solid">
    <div class="grid_12">
      <%= render :partial => "shared/main_navigation" %>
    </div>

    <div class="grid_12">
      <%= yield :header %>
    </div>

    <div class="clear"></div>

    <div class="grid_8">
      <%= yield :content %>
    </div>

    <div class="grid_4">
      <%= yield :sidebar %>
    </div>
 
    <div class="clear"></div>

    <div class="grid_12">
      <%= render :partial => "shared/footer_navigation" %>
    </div>

    <div class="clear"></div>
  </div>
</body>
</html>