<% @api_modules.each do |api_module| %>

      <div class="gray-area api_modules">
        <div class="holder api_modules">
          <div class="block">
            <strong class="name"><%= api_module.module_name %></strong>
            <dl>
              <dt>Status: </dt>
              <dd class="green">Active</dd>
              <dt>Updated: </dt>
              <dd><%= time_ago_in_words(api_module.updated_at.to_s) %> ago</dd>
            </dl>
            <ul class="actions" style="margin-right: -10px;">
              <li>
              <% if api_module.module_name == 'tumblr basic' %>
                <%= link_to("Clear Cache", force_reload_posts_path) %>
              <% elsif api_module.module_name == 'vimeo basic' %>
                <%= link_to("Clear Cache", force_reload_videos_path) %>
              <% elsif api_module.module_name == 'fleakr basic' %>
                <%= link_to("Clear Cache", force_reload_galleries_path) %>
              <% end %>
              </li>
              <li><a href="javascript:void(0);" class="edit_api_settings">Edit</a></li>
              <li><%= link_to("Remove", admin_api_module_path(api_module), :confirm => "Are you sure?", :method => 'delete') %></li>
            </ul>
          </div>

          <div class="edit_api_module" id="<%= api_module.module_name[0..4] %>" style="margin-top: 20px;">

           <%= form_tag(edit_module_path, :class => "admin-email") do -%>
             <fieldset>
              <%= text_field "api_settings", "api_module", :value => api_module.id, :style => "display:none;" %>

              <% if api_module.module_name == 'cloudfiles storage' %>
                <div class="col" style="width:500px;">
                  <label>CONTAINER</label>
                  <span class="text"><%= text_field "api_settings", "container" %></span>
                </div>
              <% end %>

              <div class="col">
                <label>API TOKEN</label>
                <span class="text"><%= text_field "api_settings", "api_token" %></span>
              </div>
              <div class="col">
                <label>API KEY</label>
                <span class="password"><%= text_field "api_settings", "api_key", :type => "password" %></span>
              </div>
              <div class="row high">
                <%= submit_tag 'save Changes', :class => 'submit' %>
                <a href="javascript:void(0);" class="cancel_api_module">Cancel</a>
              </div>
             </fieldset>
           <% end %>

          </div>
        </div>
      </div>

<% end %>