<% @settings.each do |setting| %>

      <div class="gray-area api_modules">
        <div class="holder api_modules">
          <div class="block">
            <strong class="name"><%= setting.title %></strong>
            <dl>
              <dt>Status: </dt>
              <dd class="green">Active</dd>
              <dt>Updated: </dt>
              <dd><%= time_ago_in_words(setting.updated_at.to_s) %> ago</dd>
            </dl>
            <ul class="actions" style="margin-right: -10px;">
              <li><a href="javascript:void(0);" class="edit_api_settings">Edit</a></li>
              <li><%= link_to("Remove", admin_setting_path(setting), :confirm => "Are you sure?", :method => 'delete') %></li>
            </ul>
          </div>

          <div class="edit_api_module" style="margin-top: 20px;">

           <%= form_tag(edit_setting_path, :class => "admin-email") do -%>
             <fieldset>
              <%= text_field "api_settings", "setting", :value => setting.id, :style => "display:none;" %>

              <% if setting.title == 'Rackspace Cloudfiles' %>
                <div class="col" style="width:500px;">
                  <label>CONTAINER</label>
                  <span class="text"><%= text_field "api_settings", "container", :value => setting.container %></span>
                </div>
              <% end %>

              <div class="col">
                <label>API TOKEN</label>
                <span class="text"><%= text_field "api_settings", "api_token", :value => setting.api_token %></span>
              </div>

              <div class="col">
                <label>API KEY</label>
                <span class="password"><%= text_field "api_settings", "api_key", :type => "password", :value => setting.api_key  %></span>
              </div>
               
              <div class="row high">
                <%= submit_tag 'save Changes', :class => 'submit' %>
                <a href="javascript:void(0);" class="cancel_api_module">Cancel</a>
              </div>
             </fieldset>
           <% end %>

          </div>
        </div>
      </div>

<% end %>