<script type="text/javascript">
  
  $(document).ready(function(){

    <!-- Toogle sliders for ADMIN SETTINGS -->

    $('.gray-area.seetings').css('display','none');

    $('.edit_settings').click(function() {
      var father_div = $(this).parents('.admin-user');
      var seetings_block = father_div.find('.gray-area.seetings');
      seetings_block.toggleFade({ speedIn : 1000, speedOut : 1000 });
    });

    $('.cancel_edit_user').click(function() {
      var father_div = $(this).parents('.admin-user');
      var seetings_block = father_div.find('.gray-area.seetings');
      seetings_block.toggleFade({ speedIn : 1000, speedOut : 1000 });
    });

    <!-- Toogle sliders for API MODULES -->

    $('.edit_api_module').css('display','none');

    $('.edit_api_settings').click(function() {
      var father_div = $(this).parents('.gray-area.api_modules');
      var seetings_block = father_div.find('.edit_api_module');
      seetings_block.toggleFade({ speedIn : 1000, speedOut : 1000 });
    });

    $('.activate_api_module').click(function() {
      var father_div = $(this).parents('.gray-area.api_modules');
      var seetings_block = father_div.find('.edit_api_module');
      seetings_block.toggleFade({ speedIn : 1000, speedOut : 1000 });
    });

    $('.cancel_api_module').click(function() {
      var father_div = $(this).parents('.gray-area.api_modules');
      var seetings_block = father_div.find('.edit_api_module');
      seetings_block.toggleFade({ speedIn : 1000, speedOut : 1000 });
    });
    
  });

  <!-- ToogelFade jquery extension -->

  (function($) {
  $.fn.toggleFade = function(settings)
  {
  	settings = jQuery.extend(
  		{
        speedIn: "normal",
        speedOut: settings.speedIn
  		}, settings
  	);
  	return this.each(function()
  	{
  	  var isHidden = jQuery(this).is(":hidden");
      jQuery(this)[ isHidden ? "fadeIn" : "fadeOut" ]( isHidden ? settings.speedIn : settings.speedOut);
    });
  };
  })(jQuery);
  
</script>

<!-- main -->
<div id="main">

  <!-- content -->
  <div id="content">

    <!-- info-block -->
    <div class="info-block">

      <!-- info-block heading -->
      <div class="title-holder">
        <h2>Settings</h2>
      </div>

      <!-- info-block content -->
      <%= render 'admin_users' %>
      
    </div>

    <!-- info-block -->
    
    <div class="info-block">

      <!-- info-block heading -->

      <div class="title-holder">
        <%= link_to(clear_api_cashes_path) do -%>
          <span>clear api caches</span>
        <% end %>
        <h2>API Settings</h2>
      </div>

      <!-- info-block's content -->

      <% if @api_modules.present? %>
        <%= render 'activated_api_modules' %>
      <% end %>

      <% if @undefined_modules.present? %>
        <%= render 'undefined_api_modules' %>
      <% end %>

     </div><!-- info-block -->
   </div><!-- content -->
  
   <!-- sidebar -->
   <div id="sidebar">
     <h3>Quick Links</h3>
     <ul class="btn-bar">
       <li>
         <%= link_to(new_admin_custom_module_path) do %>
           <span>Add a Module</span>
         <% end %>
       </li>
       <li>
         <%= link_to(new_admin_image_path) do %>
           <span>Upload a File</span>
         <% end %>
       </li>
     </ul>
     <h3>API Links</h3>
     <ul class="btn-bar gray-btn">
      <li><a href="#"><span><strong>Log-in</strong><em class="vimeo">vimeo</em></span></a></li>
      <li><a href="#"><span><strong>Log-in</strong><em class="flickr">flickr</em></span></a></li>
      <li><a href="#"><span><strong>Log-in</strong><em class="tumblr">tumblr.</em></span></a></li>
     </ul>
  </div>
</div><!-- main -->

