<h1>Images</h1>

<div>
  <%= link_to "Upload an Image", new_admin_image_path %>
</div>

<div>
  <h3>Your Media</h3>
  <div>
    <ul style="margin: 15px;">
      <% @images.each do |image| %>
        <li>
          <p>
            <a href="<%= admin_image_path(image) %>">
              <%= image_tag image.image.url(:small) %>
            </a>
          </p>
          <p>
            <h4 style="margin-right: 20px;"><%= link_to image.title, admin_image_path(image) %></h4>
            <h4 style="margin-right: 20px;"><%= link_to "Edit", edit_admin_image_path(image) %></h4>
            <%= link_to "Delete", admin_image_path(image), :confirm => "Are you sure", :method => :delete %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
</div>