<h1>Users</h1>

<div>
  <ul>
    <li>
      <a href="/admin/users/new">
        <img src="/images/admin/img-add-page.gif" alt="Add User" />
      </a>
    </li>
  </ul>
</div>

<p style="color: green; font-size: 14px; margin-top: 20px; margin-bottom: 20px;">
  <%= flash[:notice] %>
</p>

<div>
  <div>
    <input type="checkbox" name="select-all" value="select-all" /> Select All
  </div>
  <div>
    <ul>
      <% @users.each do |user| %>
      <li id="user_<%= user.id %>">
        <input type="checkbox"
               name="select-user" 
               value="select" /> <%= link_to user.email, admin_user_path(user) %>
        <p>
          <%= link_to "Delete User", admin_user_path(user),  
                      :method => :delete, 
                      :confirm => "Are you sure?" %>
          <%= link_to "Edit User", edit_admin_user_path(user) %>
        </p>
      </li>
      <% end %>
    </ul>
  </div>
</div>


