<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>SkinnyCMS</title>
        <%= stylesheet_link_tag 'skinnycms/admin/all.css' %>
        <%= javascript_include_tag 'skinnycms/jquery/jquery-1.4.4.min.js' %>
        <%= javascript_include_tag 'skinnycms/jquery/jquery-ui-1.8.7.custom.min.js' %>
        <%= javascript_include_tag 'skinnycms/nestedSortable.1.2.1/jquery.ui.nestedSortable.js' %>
	<!--[if lt IE 8]><%= stylesheet_link_tag 'skinnycms/admin/ie.css' %><![endif]-->
        <%= include_tiny_mce_if_needed %>
        <%= javascript_include_tag "skinnycms/rails" %>
        <%= csrf_meta_tag %>
        <%= yield(:html_header_includes) %>
</head>
<body>
	<!-- wrapper -->
	<div id="wrapper">
		<!-- header -->
		<div id="header">
			<!-- logo -->
			<h1 class="logo"><a href="#">skinny cms</a></h1>
			<!-- navigation  -->
			<ul id="nav">
				<li><%= link_to "Pages", admin_pages_path, :class => @current_page == 'pages' ? 'active' : '' %></li>
				<li><%= link_to "Modules", admin_modules_path, :class => @current_page == 'modules' ? 'active' : '' %></li>
				<li><%= link_to "Assets", admin_assets_path, :class => @current_page == 'assets' ? 'active' : '' %></li>
				<li><%= link_to "Settings", admin_settings_path, :class => @current_page == 'settings' ? 'active' : '' %></li>
				<li class="visit-site"><%= link_to "Visit Site", pages_path %></li>
			</ul>
		</div>
	        <%= yield %>
	</div>
</body>
<%= yield(:html_footer_includes) %>
</html>
