<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="Generator" content="SkinnyCMS by fiftyandfifty.org">
<title><%= @title %></title>
<%= stylesheet_link_tag 'skinnycms/reset.css' %>
<%= stylesheet_link_tag 'skinnycms/text.css' %>
<%= stylesheet_link_tag 'skinnycms/960.css' %>
<%= stylesheet_link_tag 'skinnycms/demo.css' %>
<%= yield(:html_header_includes) %>
</head>
<body>
  <div class="container_12">
    <div id="header_logo"><a href="/"><img src="/images/skinnycms/admin/fiftyandfifty.gif"></a></div>
    <%= render :partial => "shared/secondary_navigation" %>
  </div>

  <div class="clear"></div>

  <div class="container_12" style="border: 1px solid">
    <div class="grid_12">
      <%= render :partial => "shared/main_navigation" %>
    </div>

    <div class="grid_12">
      <%= yield :header %>
    </div>

    <div class="clear"></div>

    <div class="grid_8">
      <%= yield :content %>
    </div>

    <div class="grid_4">
      <%= yield :sidebar %>
    </div>
 
    <div class="clear"></div>

    <div class="grid_12">
      <%= render :partial => "shared/footer_navigation" %>
    </div>

    <div class="clear"></div>
  </div>
</body>
</html>