<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Skinny CMS Default Template</title>
<%= stylesheet_link_tag 'skinnycms/reset.css' %>
<%= stylesheet_link_tag 'skinnycms/text.css' %>
<%= stylesheet_link_tag 'skinnycms/960.css' %>
<%= stylesheet_link_tag 'skinnycms/demo.css' %>
</head>
<body>
<div class="container_12">
  <div class="clear"></div>
  <%= yield %>
  <div class="clear"></div>
  <div class="grid_12">
    <p>Footer</p>
  </div>
<div class="clear"></div>
</div>
</body>
</html>